<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">New Class</h3>
        <span></span>
    </div><!-- /page-title -->
    
    <ul class="page-stats">
      <%= link_to "BACK TO CLASSES LIST", partners_classes_path, :class => 'btn btn-primary' %>
    </ul><!-- /page-stats -->
</div>

<div class="padding-md" style="background:rgb(238, 247, 255)">
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<%= render 'form', locals: { path: partners_classes_path } %>
		</div>
	</div>
</div>