<%
meta title: "#{@center.name} | FitnessPapa.com",
     description: "#{@centerinfo.brief_desc}",
     keywords: %w(services dailypass weeklypass)
%>


<div class="table-box marginner">
	<% if [1,3,6,8].include?(params[:cat_id]) %>
		<%= render :partial => 'services/cat1', :locals => { :services => @services } %>
	<% end %>

	<% if [2,5].include?(params[:cat_id]) %>
		<%= render :partial => 'services/cat2', :locals => { :services => @services } %>
	<% end %>

	<% if [4,7].include?(params[:cat_id]) %>
		<%= render :partial => 'services/cat3', :locals => { :services => @services } %>
	<% end %>
</div>

<script type="text/javascript">
 	$('.bxslider').bxSlider({
 	  pagerCustom: '#bx-pager'
 	});
</script>