<div class="modal fade bs-example-modal-sm" id="alerter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header label-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="col-xs-12"><%= render 'layouts/notices' %></div>
          <div class="row">
            <div class="col-xs-12">
              <p>
                Hi, Request for your FitnessPapa  Membership has been successfully submitted. You will receive a mail confirmation shortly. Please complete registration after clicking on link provided in E-mail.
              </p>
              <p>
                You can reach us at <a href="email:support@fitnesspapa.com" class="label label-default">support@fitnesspapa.com</a> for any query.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
