<div class="modal fade " id="alerter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invitation</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-xs-12"><%= render 'layouts/notices' %></div>
          <div class="row">
            <div class="col-xs-12">
              <p>
                Hi, Thanks for submitting information successfully. You will receive confirmation Email Shortly.
              </p>
              <p>
                You can reach us at <a href="email:support@fitnesspapa.com">support@fitnesspapa.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
