<div class="modal fade " id="package" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">FitnessPapa Passport</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12"><%= render 'layouts/notices' %></div>
        	<div class="col-xs-4 text-center">
        	 <i class='flaticon-identity6' style='font-size:86px'></i><br><br>
        	</div>
        	<div class="col-xs-8">
        		<ul class="list-unstyled">
        			<li style="font-size:18px"><i class='flaticon-forever'></i>&nbsp;10 Classes</li>
        			<li style="font-size:18px"><i class='flaticon-trophy36'></i>&nbsp;Top rated Studios & Trainers</li>
        			<li style="font-size:18px"><i class='flaticon-drink13'></i>&nbsp;No Upfront or Hidden Fees</li>
        			<li style="font-size:18px"><i class='flaticon-cancel19'></i>&nbsp;Cancel Any Time</li>
        			<li style="font-size:18px"><i class='flaticon-smiling36'></i>&nbsp;Guaranteed Satisfaction</li>
        			<!-- <li style="font-size:18px"><i class='flaticon-stop36'></i>&nbsp;Can keep your passport on hold</li> -->
				    </ul>		
        	</div>
          <div class="col-xs-8 col-xs-offset-4">
            <p class="label label-info">Start Booking on 10th June at 11:00 AM</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <%= link_to "Book Now", mypackage_path, :class => 'btn btn-default'  %> -->
      </div>
    </div>
  </div>
</div>


