<div class="container">


	<div class="container-main">
		<div class="sqr-box-title">
		<h2>Sign-In</h2>
		<p class="bottom-title">New to <span>Fitness<b>Papa</b></span>? <a href="<%= registrations_customer_path %>">Create an Account</a><br>
		<span>Fitness<b>Papa</b></span> partner? <a href="<%= sessions_partner_path %>">Sign In</a> here</p>
		</div>
		<div class="sqr-boxs-cat">
			<%= form_tag customer_auth_path, :class => 'sign sign-with-social' do %>

			  <div class="form-sec form-sign">
				
				<div class="social-signin">
				  <button id="facebook">Sign in with Facebook</button>
				  <button id="twitter">Sign in with Twitter</button>
				  <button id="googleplus">Sign in with Google</button>
				</div>
				
				<div class="social-signin">
				
				<div class="">
				<input id="email" type="email" value="" name="user[email]", placeholder = 'Email' style="padding:12px;margin-bottom:18px;width:100%">
				</div>
				<div class="">
				 <input id="password" type="password" name="user[password]" value="" style="padding:12px;width:100%" placeholder = 'Password'>
				</div>
				
				<div class="form-terms" style="text-align:center">
				 <input type="checkbox" name="remember" id="remember" class="css-checkbox">
				 <label for="remember" class="css-label"><p>Remember Me</p></label>
				</div>
			    
				<div class="form-submit">
				  <input type="submit" value="SIGN-IN" style="margin-left:20px">
				  <a href="#" style="margin-left:20px">Forgot Password?</a>
				</div>
				
				</div>
			  
			  </div>
			  
			<%end%>
		</div>
		
	</div>
	
</div>