<div class="container">


	<div class="container-main">
		<div class="sqr-box-title">
		<h2>Partner Sign-In</h2>
		<p class="bottom-title">New to <span>Fitness<b>Papa</b></span>? <a href="<%= registrations_partner_path %>">Register Your Business</a></p>
		</div>
		<div class="sqr-boxs-cat">
			<%= form_tag sessions_partner_auth_path, :class => 'sign' do %>
			  <div class="form-sec form-sign">
				
				<div class="form-field">
				 <label for="email" class="label-email"><p>Email</p></label>
				 <input id="email" type="email" value="" name="user[email]">
				</div>
				
				<div class="form-field">
				 <label for="password" class="label-pass"><p>Password</p></label>
				 <input id="password" type="password" name="user[password]" value="">
				</div>
				
				<div class="form-terms">
				 <input type="checkbox" name="remember" id="remember" class="css-checkbox">
				 <label for="remember" class="css-label"><p>Remember Me</p></label>
				</div>
			    
				<div class="form-submit">
				  <input type="submit" value="SIGN-IN">
				  <a href="#">Forgot Password?</a>
				</div>
			  
			  </div>
			  
			<%end %>
		</div>
		
	</div>
	
</div>