<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
<%= form_tag password_resets_path, :method => :post, :class => 'cd-form', :style => 'padding-top:0px', 'data-parsley-validate' => true do %>
	<%= render 'layouts/notices' %>
	<p class="fieldset">
		<label class="image-replace cd-email" for="reset-email">E-mail</label>
		<input class="full-width has-padding has-border" id="reset-email" type="email" name="email" placeholder="E-mail" data-parsley-required=true>
		<span class="cd-error-message">Error message here!</span>
	</p>

	<p class="fieldset">
		<input class="full-width has-padding" type="submit" value="Reset password">
	</p>
<% end %>
<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>