<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top:35px">
      <h2 class="osLight">Change Password</h2>
      <div class="box">
        <%= render :partial => 'password_resets/change_pass' %>
      </div>
    </div>
  </div>
</div>

