<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="box" style='margin-top:35px'>
				<%= render :partial => 'password_resets/form' %>
			</div>
		</div>
	</div>
</div>
