<div>
	<table>
	  <thead>
	    <tr>
	      <th width="200">Service Name</th>
	      <th>Order Id</th>
	      <th width="150">Start Date</th>
	      <th width="150">Details</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Content Goes Here</td>
	      <td><a href="#">OD11304904343</a></td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Planned</td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td><a href="#">OD11304904343</a></td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td><a href="#">OD11304904343</a></td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td></td>
	    </tr>
	  </tbody>
	</table>
</div>