<ul class="menu embed-nav" id="center-conf">
	<%= nav_link "Summary", summary_partners_paymentmanagers_path %>
	<%= nav_link 'Commission', commission_partners_paymentmanagers_path %>
	<%= nav_link 'Transactions', transactions_partners_paymentmanagers_path %>
	<%= nav_link 'Partner payment', partner_payment_partners_paymentmanagers_path %>
</ul>
<div class="clear"></div>
<br><br>
