<div class="row">
	<div class="small-12 column">
		<%= render :partial => 'partners/paymentmanagers/nav' %>
	</div>
</div>

<div class="row">
	<div class="column small-12">
		<div class="panel">
			<div class="row">
				<div class="column small-12">
					<p>Percentage of commission agreed between partner & FitnessPapa</p>
					<div class="row">
						<div class="column small-2">
							<input type="text">
						</div>
						<div class="small-10 columns">
							<input type="submit" class="tiny secondary button">
						</div>
					</div>
				</div>
				<div class="column small-12">
					<a href="button tiny secondary">Agreement Policy</a>
					<div class="panel">
						<p>Committed to the principles of honesty and integrity, our employees are determined to provide you with prompt, courteous and excellent service. We promise to do our best to resolve any issues that might arise as quickly as possible. And we will continue to develop the unique, innovative programming and services that you have come to expect and enjoy from DIRECTV.
						</p>
						<p>
							<input type="checkbox">&nbsp;&nbsp;<span>I accept the policy</span>
							<input type="submit" class="button tiny">
							<button class="tiny secondary">cancel</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>