<div class="row">
	<div class="small-12 column">
		<%= render :partial => 'partners/paymentmanagers/nav' %>
	</div>
</div>

<div class="row" style="min-height:290px">
	<div class="column small-12">
		
	</div>
</div>

