<fieldset>
<legend>Center Photos</legend>
	<%= form_tag partners_center_photos_path, id: 'center-photos', :class => 'dropzone', multipart: true do %>
	<div class="dz-message">
	   <label for="">Click here to upload max of 5 images <br></label> 
	</div>
	<%end%>
	<hr>
	<a href="<%=partners_center_services_path%>" class="button tiny right">Continue</a>
</fieldset>


 <script type="text/javascript">
 $(document).ready(function() {
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone ("#center-photos", {
		maxFilesize: 4, // Set the maximum file size to 256 MB
		paramName: "centerinfo[image]", // Rails expects the file upload to be something like model[field_name]
		addRemoveLinks: false // Don't show remove links on dropzone itself.
	});
 });
 </script>