<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div>
				<div class="clearfix">
			        <div class="pull-left">
			            <span class="bold vag font18 vertical-align-middle">FitFix 5</span><span class="vertical-align-middle"> @ Central YMCA Club</span>
			        </div>
			        <div class="pull-right">
			            <span class="minus-button m-right5"></span>
			            <span class="plus-button m-right5"></span>
			            <input name="item[quantity]" autocomplete="off" data-id="14753" data-type="pass" data-assoc="assoc_14753" class="form-control passes-input parsley-validated" min="0" data-multiplier="1" type="number" value="1">
			        </div>
			        <div class="prices pull-right m-right10">
			            <span class="pink bold pull-right clear font13">10% off our 1-session rate</span>
			            <span class="bold pull-right clear">
			                    
			                <span class="font16">£38.25</span>
			            </span>
			        </div>
			    </div>
			</div>
			<div>
				<div class="clearfix">
			        <div class="pull-left">
			            <span class="bold vag font18 vertical-align-middle">FitFix 5</span><span class="vertical-align-middle"> @ Central YMCA Club</span>
			        </div>
			        <div class="pull-right">
			            <span class="minus-button m-right5"></span>
			            <span class="plus-button m-right5"></span>
			            <input name="item[quantity]" autocomplete="off" data-id="14753" data-type="pass" data-assoc="assoc_14753" class="form-control passes-input parsley-validated" min="0" data-multiplier="1" type="number" value="1">
			        </div>
			        <div class="prices pull-right m-right10">
			            <span class="pink bold pull-right clear font13">10% off our 1-session rate</span>
			            <span class="bold pull-right clear">
			                    
			                <span class="font16">£38.25</span>
			            </span>
			        </div>
			    </div>
			</div>
		</div>
		<div class="col-xs-4">
			
		</div>
	</div>
</div>