<div class="row">
  <div class="small-12 columns">
    <table>
      <tr>
        <th>Name</th>
        <th colspan="2">Description</th>
        <th></th>
      </tr>
      <% @instructors.each do |ins|  %>
        <tr>
          <td><%= ins.name %></td>
          <td colspan="2"><%= ins.description %></td>
          <td><a href="<%= partners_center_instructor_path(params['center_id'], ins.id) %>">Edit</a>&nbsp;<a href="">Remove</a></td>
        </tr>
      <%end%>
    </table>
  </div>
  <div class="small-12 columns">
    <div class="right">
        <a href="<%= new_partners_center_instructor_path %>" class="button small">Add Instructor</a>
    </div>
  </div>
</div>

<script>
   $(document).ready(function() {
    $('.menu').dropit();
    $('#center-conf').css('display', 'block');
});
</script>