<div class="panel panel-default">
	<div class="panel-heading">Horizontal Form</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputEmail1" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control input-sm" id="inputEmail1" placeholder="Email">
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<label for="inputPassword1" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control input-sm" id="inputPassword1" placeholder="Password">
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<label class="label-checkbox">
						<input type="checkbox">
						<span class="custom-checkbox"></span>
						Remember me
					</label>
				</div><!-- /.col -->
			</div><!-- /form-group -->
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-success btn-sm">LOGIN</button>
				</div><!-- /.col -->
			</div><!-- /form-group -->
		</form>
	</div>
</div><!-- /panel -->
