<div class="row" style="background:white;">
	<div class="container">
		<div class="col-xs-12" style="margin-top:35px">
			<h2 class="osLight"></h2>
		</div>
		<div class="col-xs-12 text-center" style="margin-bottom:35px">
				<h3 style="margin-bottom:25px">GROW YOUR BUSINESS WITH FITNESSPAPA</h3>
			    <p class="blue-gray m-bottom20" style="font-size:14px">Fitness Papa Partners With The Best Fitness Providers To Help Them Reach New Customers And Grow Their Businesses.</p>
                <p style="margin-top:20px">
                	<a href="<%= new_partner_path %>" class="btn btn-primary">Register Now</a>
                </p>
        </div>
		<!-- <div class="col-xs-12 col-sm-4">
			<div class="box pad">
				<h2 class="osLight">PARTNER LOGIN</h2>
				<a href="http://partners.fitnesspapa.com" class="btn btn-success full">PARTNER LOGIN</a>
			</div>
		</div> -->
		
	</div>
</div>

<div class="row" style="background-color: #2A3341;color: white;">
	<div class="container">
		<div class="col-xs-12">
			<div class="box pad" style="background-color: #2A3341;color: white;border:0px">
				<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-multiple25"></i></p>
									<h4 class="text-center">HIGH QUALITY <br> NEW CLIENTS</h4>
									<p class="circlers-para">
										Show Off Your Classes, Instructors & Facility to a New Engaged Audience of Fitness Lovers 
									</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-stocks1"></i></p>
									<h4 class="text-center">ADDITIONAL<br>PROFIT</h4>
									<p class="circlers-para">We Will Help You Getting Additional Customers And Income</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-marketingbuzz"></i></p>
									<h4 class="text-center">MARKETING AND BRAND<br>EXPOSURE</h4>
									<p class="circlers-para">Fitness Papa Helps Consumers Find And Book The Best Fitness Classes in their Location & City</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-smartphone54"></i></p>
									<h4 class="text-center">INTEGRATED<br> TECHNOLOGY</h4>
									<p class="circlers-para">Mobile Based Technology And Supported By Data Analytics And Artificial Intelligence, We Create Wow Experience And Value To You</p>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
