<div class="row" style="background:#eeeef4">
	<div class="container">
		<div class="col-xs-12" style="margin-top:35px">
			<h2 class="osLight">Fitness Partners</h2>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="box pad">
				<h3>DO you own or manage a gym, fitness studio or swimming pool?</h3>
			    <p class="blue-gray m-bottom20">By joining the largest network of fitness venues in the UK, you'll be connecting with our active community of over 300,000 users - and counting!</p>
                <p class="blue-gray m-bottom20">We work with gyms, health clubs, spas and fitness studios of all shapes and sizes to offer the widest range of exercise options and help people FIND THEIR FIT.</p>
                <p class="blue-gray m-bottom30">Our aim is to provide people with the freedom to choose what's right for them, and that's why we want your gym onboard. Your newest and best members could be just a click away.</p>
                <p class="text-center">
                	<a href="<%= new_partner_path %>" class="btn btn-info">Register Now</a>
                </p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box pad">
				<h2 class="osLight">PARTNER LOGIN</h2>
				<a href="" class="btn btn-success full">PARTNER LOGIN</a>
			</div>
		</div>
	</div>
</div>