<div class="row" style="background:white;">
	<div class="container">
		<div class="col-xs-12" style="margin-top:35px">
			<h2 class="osLight"></h2>
		</div>
		<div class="col-xs-12 text-center" style="margin-bottom:35px">
				<h3 style="margin-bottom:25px">GROW YOUR BUSINESS WITH FITNESSPAPA</h3>
			    <p class="blue-gray m-bottom20">FitnessPapa partners with the best fitness providers to help them reach new customers and grow their businesses.</p>
                <p style="margin-top:20px">
                	<a href="<%= new_partner_path %>" class="btn btn-primary">Register Now</a>
                </p>
        </div>
		<!-- <div class="col-xs-12 col-sm-4">
			<div class="box pad">
				<h2 class="osLight">PARTNER LOGIN</h2>
				<a href="http://partners.fitnesspapa.com" class="btn btn-success full">PARTNER LOGIN</a>
			</div>
		</div> -->
		
	</div>
</div>

<div class="row" style="background-color: #2A3341;color: white;">
	<div class="container">
		<div class="col-xs-12">
			<div class="box pad" style="background-color: #2A3341;color: white;border:0px">
				<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-multiple25"></i></p>
									<h4 class="text-center">HIGH QUALITY <br> NEW CLIENTS</h4>
									<p class="circlers-para">
										Show off your classes, instructors & facility to a new engaged audience of fitness lovers 
									</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-stocks1"></i></p>
									<h4 class="text-center">ADDITIONAL<br>PROFIT</h4>
									<p class="circlers-para">We will help you fill spots that are currently going unused and pay you directly for every reservation</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-marketingbuzz"></i></p>
									<h4 class="text-center">MARKETING AND BRAND<br>EXPOSURE</h4>
									<p class="circlers-para">FitnessPapa helps consumers find and book the best fitness classes in their location/city</p>
								</div>
								<div class="col-xs-12 col-sm-3">
									<p class="circlers"><i class="flaticon-smartphone54"></i></p>
									<h4 class="text-center">INTEGRATED<br> TECHNOLOGY</h4>
									<p class="circlers-para">Mobile based Technology and supported by data analytics and artificial intelligence. we create Wow experience and value to you</p>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>