<div style="min-height:420px;">
	<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns"> Last Booking</div>
	<div class="small-8 columns">5 mins ago by <a href="">amit shan</a></div>
</div>
<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns">FP Verified</div>
	<div class="small-8 columns">No</div>
</div>
<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns">Partner Since</div>
	<div class="small-8 columns">2015</div>
</div>
<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns">Total Customers</div>
	<div class="small-8 columns">552</div>
</div>
<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns">Total Earnings</div>
	<div class="small-8 columns">INR 50,1252/- </div>
</div>
<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
	<div class="small-4 columns">Total Transactions</div>
	<div class="small-8 columns">45820</div>
</div>

</div>