<style>
.cd-pricing {
  width: 90%;
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}
.cd-pricing > li {
  position: relative;
  margin: 0 auto 2.5em;
  background-color: #ffffff;
  border-radius: .3em .3em .25em .25em;
  box-shadow: 0 2px 8px rgba(2, 4, 5, 0.5);
}
.cd-pricing > li.empty-box {
  box-shadow: none;
}
.cd-pricing > li.empty-box::after {
  /* placeholder visible when .cd-form is open - in this case same color of the background */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f222b;
}
@media only screen and (min-width: 768px) {
  .cd-pricing {
    max-width: 1000px;
    list-style-type: none;
  }
  .cd-pricing > li {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0;
  }
  .cd-pricing > li:last-of-type {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-pricing > li {
    width: 28.0%;
    float: left;
    margin-right: 8%;
  }
}

.cd-pricing-header {
  padding: 1.3em 1em;
  background-color: #505966;
  border-radius: .25em .25em 0 0;
  box-shadow: inset 0 1px 0 #c1cfa2;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-pricing-header h2, .cd-pricing-header .cd-price {
  line-height: 1.2;
}
.cd-pricing-header h2 {
  font-size: rem;
  margin-bottom: 0.15em;
}
.cd-pricing-header .cd-price {
  display: inline-block;
  font-weight: bold;
}
.cd-pricing-header .cd-price::after {
  clear: both;
  content: "";
  display: table;
}
.cd-pricing-header span {
  float: left;
}
.cd-pricing-header span:nth-of-type(2) {
  color: #c1cfa2;
}
.cd-pricing-header span:nth-of-type(2)::before {
  content: '/';
}
@media only screen and (min-width: 768px) {
  .cd-pricing-header h2 {
    font-size: rem;
  }
}

.cd-pricing-features {
  padding: 2.8em 1em 2.5em;
}
.cd-pricing-features li {
  line-height: 1.5;
  margin-bottom: .4em;
}
.cd-pricing-features li:last-of-type {
  margin-bottom: 0;
}
.cd-pricing-features em {
  position: relative;
}
.cd-pricing-features em::before {
  /* this is the icon (check or cross) next to the plan feature */
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background: url(../img/cd-icons-plan.svg) no-repeat -24px 0;
}
.cd-pricing-features .available em::before {
  background-position: 0 0;
}

.cd-pricing-footer {
  padding-bottom: 1.7em;
  margin-left: 0px !important;
  background: #424f63;
  border: 1px solid #2e3744;

}
.cd-pricing-footer:hover{
 	background: #343e4e;
 }

.cd-pricing-footer a {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  color: white;
}
.empty-box .cd-pricing-footer a {
  /* scale down to 0 the action button when sign up form is visible */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
</style>

<div class="container">
	<div class="row" style="margin:40px 0px">
		<div class="col-xs-12">
			<ul class="cd-pricing">
				<li>
					<header class="cd-pricing-header">
						<h2>Basic Pass</h2>

						<div class="cd-price">
							<span></span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-features">
						<ul class="list-unstyled">
              <li>199/-</li>
              <li>3 Classes</li>
              <li>7 Days Validity</li>
						</ul>
					</div> <!-- .cd-pricing-features -->

					<footer class="cd-pricing-footer" style='background: gray'>
						<a class="disabled">Buy Now (Inactive)</a>
					</footer> <!-- .cd-pricing-footer -->
				</li>
		
				<li>
					<header class="cd-pricing-header">
						<h2>Health Conscious</h2>

						<div class="cd-price">
							<span></span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-features">
						<ul>
              <li>999/-</li>
							<li class="available">10 Classes</li>
							<li class="available">30 Days Validity</li>
						</ul>
					</div> <!-- .cd-pricing-features -->

					<footer class="cd-pricing-footer">
						<%= link_to "Buy Now", mypackage_path %>
					</footer> <!-- .cd-pricing-footer -->
				</li>

				<li>
					<header class="cd-pricing-header">
						<h2>Fitness Freak</h2>

						<div class="cd-price">
							<span></span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-features">
						<ul>
							<li class="available">1999/-</li>
							<li class="available">30 Classes</li>
							<li class="available">30 Days Validity</li>
						<ul>
					</div> <!-- .cd-pricing-features -->

					<footer class="cd-pricing-footer">
						<a href="#0">Buy Now<a>
					</footer> <!-- .cd-pricing-footer -->
				</li>
			</ul>
		</div>
	</div>
</div>