<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="">Brand</a></li>
	  <li role="presentation"><a href="">Center</a></li>
	  <li><a href="">Populars</a></li>
	  <li><a href="">Offers Zone</a></li>
	</ul>
	</div>
</div>