<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
	  <li><a href="<%= admins_partners_list_index_path %>">Partners List</a></li>		
	  <li role="presentation" class="active"><a href="">Brand</a></li>
	  <li role="presentation"><%= link_to 'Centers', admins_partners_path %></li>
	  <li><%= link_to "Populars", admins_populars_path %></li>
	  <li><a href="">Offers Zone</a></li>
	</ul>
	</div>
</div>