<div class="container">
	<div class="container-main">
		<div class="sqr-box-title book-app-title">
		<h2>Register Your Business</h2>
		</div>
		
		<div class="sqr-boxs-cat">
			<%= form_tag partner_signup_path, :class => 'register' do %>
			  <div class="form-sec">
				
				<div class="form-field">
				  <p>First name</p>
				  <input type="text" name="user[first_name]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Last name</p>
				 <input type="text" name="user[last_name]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Email</p>
				 <input type="email" name="user[email]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Phone</p>
				 <input type="tel" name="user[phone]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Password</p>
				 <input type="password" name="user[password]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Re-enter Password</p>
				 <input type="password" name="user[password_conf]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Business Name</p>
				 <input type="text" name="user[business_name]" value="" required>
				</div>
				
				<div class="form-field">
				 <p>Category</p>
         		 <%= select_tag "user[category_id]", options_from_collection_for_select(Category.all, "id", "name"), :prompt => "Select your primary category" %>
				</div>
				
				<div class="form-field" style="clear:both">
				 <p>City</p>
				 <input type="text" name="user[city]" id="city" value="" required>
				</div>
				
				<!-- <div class="form-field">
				 <p>State</p>
				 <input type="text" name="user[state]" value="" required>
				</div> -->
				
				<div class="form-terms">
				 <p style="font-size:14px">By registering, you agree to our <span>Terms of use</span> & <span>Privacy Policy</span></p>
				</div>
			    
				<div class="form-submit">
				  <input type="submit" value="Register" required>
				</div>
			  
			  </div>
			<%end  %>
		</div>
		
	</div>

</div>


<script>
  $(function() {
    window.availableTags = <%= raw @cities %>;
    $("#city").autocomplete({
      source: availableTags
    });
  });
  </script>
