<div class="row">
	<div class="small-4 columns"><a href="" class="button tiny">Add Services</a></div>
	<div class="small-4 columns"><a href="" class="button tiny">View Services</a></div>
	<div class="small-4 columns"><a href="" class="button tiny">View Upcoming classes</a></div>
</div>

<div class="row">
	<div class="small-12 columns">
		<table role='grid'>
		  <thead>
		    <tr>
		      <th width="200">Category</th>
		      <th>Service Name</th>
		      <th width="150">Start day</th>
		      <th width="150">Days</th>
		      <th>Details</th>
		      <th>Instructors</th>
		      <th>Seats</th>
		      <th>Price</th>
		      <th>Edit</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>