<div id="about" class="marginner boxer">
  <div class="tab-data">
	<p><%=raw @centerinfo.detailed_desc %></p>
  </div>
  <div class="clear"  style="clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;"></div>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>