<div id="about">
  <div class="tab-data">
	<p><%=raw @centerinfo.detailed_desc %></p>
  </div>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>