<div id="Experience">
  <div class="tab-data">
	<ul>
		<% @experience.each do |ex|  %>
			<li><h3><%= ex %></h3></li>
		<%end%>
	</ul>
  </div>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>