<div id="Experience marginner">
  	<ul style="margin-right:20px;width:48%;margin:45px auto;text-align:left">
		<% @experience.each do |ex|  %>
			<li style="margin-bottom:14px;width:49%;float:left"> <img src="/assets/tick.png" alt="">	<%= ex.name %></li>
		<%end%>
	</ul>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
	 	$(document).ready(function(){
	 		$('#pjax-tabs').children('li').each(function(){
	 			$(this).removeClass('active');
	 		})
	 		$('#experience').addClass('active');
	 	})
 </script>