<%
meta title: "#{@center.name} | FitnessPapa.com",
     description: "#{@centerinfo.brief_desc}",
     keywords: %w(services dailypass weeklypass)
%>


<div id="instructors marginner">
	<% @instructors.each do |ins| %>
	<div class="tab-data">
		<div class="tab-img">
			<%= image_tag attachment_url(ins, :photo) %>
		</div>
		<div class="tab-title">
			<h3><%= ins.name  %></h3>
			<span><%= ins.expertise %></span>
		</div>
		<div class="tab-content">
		<p><%= ins.description %></p>
		</div>
	</div>
	
	<%end %>
	
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});

	 	$(document).ready(function(){
	 		$('#pjax-tabs').children('li').each(function(){
	 			$(this).removeClass('active');
	 		})
	 		$('#instructors').addClass('active');
	 	})
 </script>