<%
meta title: "#{@center.name} | FitnessPapa.com",
     description: "#{@centerinfo.brief_desc}",
     keywords: %w(services dailypass weeklypass)
%>


<div id="instructors marginner">
	<div class="tab-data">
		<div class="tab-title">
			<h3><img src="/assets/star.jpg"></h3>
			<span>Rahul Mehta</span>
		</div>
		<div class="tab-content">
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
		</div>
	</div>
	<div class="tab-data">
		<div class="tab-title">
			<h3><img src="/assets/star.jpg" alt=""></h3>
			<span>Gymnastic Coach</span>
		</div>
		<div class="tab-content">
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
		</div>
	</div>
	<div class="tab-data">
		<div class="tab-title">
			<h3><img src="/assets/star.jpg" alt=""></h3>
			<span>Gymnastic Coach</span>
		</div>
		<div class="tab-content">
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
		</div>
	</div>
	<div class="tab-data">
		<div class="tab-title">
			<h3><img src="/assets/star.jpg" alt=""></h3>
			<span>Gymnastic Coach</span>
		</div>
		<div class="tab-content">
			<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
		</div>
	</div>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});

	 	$(document).ready(function(){
	 		$('#pjax-tabs').children('li').each(function(){
	 			$(this).removeClass('active');
	 		})
	 		$('#reviews').addClass('active');
	 	})
 </script>