<div id="upcoming">
  <div class="tab-data">
	<p>upcoming gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
  </div>
</div>

<script type="text/javascript">
	 	$('.bxslider').bxSlider({
	 	  pagerCustom: '#bx-pager'
	 	});
 </script>