<div id="myElement">Loading the player...</div>

<%= content_for :rtmp do %>
	<script type="text/javascript">
	    jwplayer("myElement").setup({
	        file: "https://s3-ap-southeast-1.amazonaws.com/fitnesspapav3/nghia.mp4",
	        image: "/uploads/myPoster.jpg"
	    });
	</script>
<% end %>

<!-- Domain Name:: s27rhsdms3kllr.cloudfront.net
     origin :: fitnesspapav2.s3.amazonaws.com
	 player.swf
 -->

 <script type="text/javascript">
	  jwplayer('myElement').setup(
	  {
	      'id': 'myElement',
	      'wmode': 'transparent',
	      'icons': 'true',
	      'allowscriptaccess': 'always',
	      'allownetworking': 'all',
	      'file': 'nghia.mp4',
	      'width': '500', 'height': '307',
	      'controlbar': 'bottom',
	      'dock': 'false',
	      'provider':'rtmp',
	      'streamer':'rtmp://s27rhsdms3kllr.cloudfront.net/cfx/st',
	      'modes': [
	          {type: 'flash', src: '/assets/jwplayer/jwplayer.flash.swf'},
	          {
	            type: 'html5',
	            config: {
	             'file': "<%= sanitize('https://s3-ap-southeast-1.amazonaws.com/fitnesspapav2/nghia.mp4') %>",
	             'provider': 'video'
	            }
	          },
	          {
	            type: 'download',
	            config: {
	             'file': 'https://s3-ap-southeast-1.amazonaws.com/fitnesspapav2/nghia.mp4',
	             'provider': 'video'
	            }
	          }
	      ]
	  });
	</script>