<div class="container">
	<div class="row">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="">Account Details</a></li>
	  <li role="presentation"><a href="">Booking History</a></li>
	  <li><a href="">Pass History</a></li>
	  <li><a href="">Coupon History</a></li>
	  <li><a href="">Referral Status</a></li>
	</ul>
	</div>
</div>