<div class="container">
	<div class="row hasMtop">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="well">
				<h2 class="osLight text-center">SIGN UP</h2>
				<hr>
				<%= render :partial => 'customers/form' %>
			</div>
		</div>
	</div>
</div>