<fieldset>
<legend>Center Photos</legend>
	<%= form_tag root_url, id: 'center-photos', :class => 'dropzone', multipart: true do %>
	<div class="dz-message">
	   <label for="">Click here to upload max of 5 images <br></label> 
	</div>
	<%end%>
</fieldset>