<%= render :partial => 'layouts/header' %>

<!-- <div class="container" style="margin-top:25px">
		<div style="color: rgb(0, 0, 0); font-size: 13.3333320617676px; font-family: tahoma, arial, helvetica, sans-serif;">
		<span style="color:#ffa500;"><strong>About Us :-&nbsp;</strong></span></div>
	    <div style="color: rgb(0, 0, 0); font-size: 13.3333320617676px; font-family: tahoma, arial, helvetica, sans-serif;">
		&nbsp;</div>
	    <div style="color: rgb(0, 0, 0); font-size: 13.3333320617676px; font-family: tahoma, arial, helvetica, sans-serif;">
			<div style="font-size: 13.3333320617676px;">
				&nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				We are bunch of passionate, committed &amp; highly energetic professionals who has set out to make&nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				Fitness &amp; Wellness Services easily accessible with range of choices &amp; ful information at finger tips to customers</div>
			<div style="font-size: 13.3333320617676px;">
				&amp; provide assistance to Service provider in advertising, Marketing &amp; selling their services using High End Tecnology&nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				Platform. &nbsp;</div>
			<div style="font-size: 13.3333320617676px;margin-top:20px">
				When founder of fitnesspapa was struggling to find &amp; select right &amp; suitable fitness service provider for himself online&nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				in his location then we decided to do something here to make human lives better by helping them getting these&nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				services available with Ease &amp; Flexibility at Low cost using Technology. &nbsp; &nbsp;</div>
			<div style="font-size: 13.3333320617676px;">
				FitnessPapa provides range of all Fitness services that can be bought online with few clicks.&nbsp;</div>
		</div>
	
	</div> -->	
<style>
	.about-wrap {
  background: url('/assets/12.jpg');
  min-height: 790px;
  background-size: cover;
  background-repeat: no-repeat; }

.about-area {
  padding-top: 100px;
  float: none;
  margin: 0 auto;
  padding-bottom: 100px; }

.about-area h1 {
  padding-bottom: 50px; }

.about-area p {
  font-size: 22px;
  line-height: 26px; }

#outer-about {
  width: 100%;
  height: 575px;
  overflow: hidden;
  position: relative; 
}

#middle-about{
  background: rgba(110, 78, 53, 0.8);
  color: white;
  padding: 8px 19px;
}

</style>
<div class="about-wrap">
    <div class="container-one">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 about-area text-center">

            <div id="outer-about">
                <div id="middle-about">
                    <div id="inner-about">
                        <h1>WE'RE ALL ABOUT MOVIN & SHAKIN</h1>
                        <p>FitnessPapa was built on the idea that you deserve more options in your fitness routine. You shouldn’t be limited in your class choices based on a locked-in gym membership. You should have the freedom to choose, and move and shake where your heart delights.
                            <br><br>
                            We also believe in the power of variety. Changing up your workouts not only motivates you and keeps things fresh, but it exposes you to new experiences and ensures your workouts won’t be dull week after week.
                            <br><br>
                            What’s that you say... Stop talking and start moving? Let’s!</p>
                    </div><!-- inner -->
                </div><!-- middle -->
            </div><!-- outer -->

        </div><!-- col-lg-4 col-md-4 col-sm-4 col-xs-12 -->
        <div class="clearfix"></div>
    </div><!-- container-one -->

</div>
<div>
<%= render :partial => 'layouts/footer' %>
</div>	