<%= render :partial => 'layouts/header' %>

<div class="container" style="margin-top:38px">
	<table>
		<thead>
			<tr>
				<th>Role</th>
				<th>Position</th>
				<th>Skills</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Business Development Sales Manager</td>
				<td>2</td>
				<td>Negotiation, Communication, Presentation, Sales, Target Driven, Result and Goal Oriented, Self Motivated and committed, Having passion to work in startup environment</td>
			</tr>
			<tr>
				<td>Content Developer & Digital marketing associate</td>
				<td>1</td>
				<td>Content creation, Adobe photoshop, Designing, SEO, Content Writing, Result and Goal Oriented, Social Media Marketing, Communication Skill, Digital Marketing, Motivated to work in startup challenging and high pressure environment</td>
			</tr>
			<tr>
				
			</tr>
		</tbody>
	</table>
	<p style="margin-top:32px;color:rgb(230, 126, 34)"><b>Mail us at <a href="mailto:careers@fitnesspapa.com">careers@fitnesspapa.com</a></b></p>
</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>	