<%= render :partial => 'layouts/header'%>

<div class="container">
  <img src="http://wholehealthpartners.com/wp-content/uploads/2013/05/coming-soon.jpg" alt="Coming soon" style="height:220px">
</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>