<%= render :partial => 'layouts/header'%>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h4>We'd Love to Hear From You, Lets Get In Touch!</h4>

			<form class="contact-form">
				<div class="form-group">
					<label for="exampleInputPassword1">Name</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
				</div><!-- /form-group -->
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
				</div><!-- /form-group -->
				<div class="form-group">
					<label for="exampleInputEmail1">Quick Message</label>
					<textarea class="form-control" rows="7" placeholder="Message"></textarea>
				</div><!-- /form-group -->
				<button type="submit" class="btn btn-sm btn-success">Submit</button>
			</form>
		</div><!-- /.col -->
		<div class="col-md-4 col-md-offset-1">
			<h4>Contact Info</h4>

			<address>
			  <strong>StunApp Technology Pvt Ltd</strong><br/>
				Place on Earth Tech Park,<br/>
				L2/3, 2nd main, Pai Layout<br/>
				Old Madras Road, Bangalore - 560016 <br/>
				<div class="seperator"></div>
				<strong>Phone : <span class="theme-font">(+91) 903-600-3761</span></strong><br/>
				<span class="theme-font"><br>Customer :: <a href="mailto:support@fitnesspapa.com" style="color:rgb(230, 126, 34)">support@fitnesspapa.com</a><br> Partner :: <a href="mailto:partners@fitnesspapa.com" style="color:rgb(230, 126, 34)">partners@fitnesspapa.com</a></span><br/>
        <strong>Website : <span class="theme-font"><a href="http://fitnesspapa.com">www.FitnessPapa.com</a></span></strong>
			</address>

			<hr/>

			<h4>Get Social</h4>
			<ul class="list-inline no-margin">
				<li>
					<a href="https://twitter.com/fitnesspapa" target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/atfitnesspapa"  target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/fitnesspapa"  target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-linkedin fa-stack-1x"></i>
						</span>
					</a>
				</li>
			</ul>

		</div><!-- /.col -->
	</div>
</div>
<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>
