<%= render :partial => 'layouts/header'%>

<div class="container" style="margin-top:50px">
<p>Customer :: <a href="mailto:support@fitnesspapa.com" style="color:rgb(230, 126, 34)">support@fitnesspapa.com</a></p> <br>
<p>Partner :: <a href="mailto:sales@fitnesspapa.com" style="color:rgb(230, 126, 34)">sales@fitnesspapa.com</a></p> <br>
<p>Phone number :: +918861303761 </p><br><br>
<h3>Address::</h3>
<blockquote style="line-height: 1.6;color: #6f6f6f; ">StunApp Technology Pvt Ltd, </br>
Place on Earth Tech Park, </br>
L2/3, 2nd main, Pai Layout, </br>
Old Madras Road, Bangalore - 560016
</blockquote>

</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>