<%= render :partial => 'layouts/header'%>

<div class="container">


<h1>&nbsp;</h1>

<p><strong>Privacy&nbsp;Policy</strong>&nbsp;</p>

<p><strong>&nbsp;</strong></p>

<p>We&nbsp;value&nbsp;the&nbsp;trust&nbsp;you&nbsp;place&nbsp;in&nbsp;us.&nbsp;That&#39;s&nbsp;why&nbsp;we&nbsp;insist&nbsp;upon&nbsp;the&nbsp;highest&nbsp;standards&nbsp;for&nbsp;secure&nbsp;</p>

<p>transactions&nbsp;and&nbsp;customer&nbsp;information&nbsp;privacy.&nbsp;Please&nbsp;read&nbsp;the&nbsp;following&nbsp;statement&nbsp;to&nbsp;learn&nbsp;about&nbsp;our&nbsp;</p>

<p>information&nbsp;gathering&nbsp;and&nbsp;dissemination&nbsp;practices.&nbsp;</p>

<p>Note.&nbsp;​</p>

<p>Our&nbsp;privacy&nbsp;policy&nbsp;is&nbsp;subject&nbsp;to&nbsp;change&nbsp;at&nbsp;any&nbsp;time&nbsp;without&nbsp;notice.&nbsp;To&nbsp;make&nbsp;sure&nbsp;you&nbsp;are&nbsp;aware&nbsp;of&nbsp;any&nbsp;</p>

<p>changes,&nbsp;please&nbsp;review&nbsp;this&nbsp;policy&nbsp;periodically.​</p>

<p>​</p>

<p>By&nbsp;visiting&nbsp;this&nbsp;Website&nbsp;you&nbsp;agree&nbsp;to&nbsp;be&nbsp;bound&nbsp;by&nbsp;the&nbsp;terms&nbsp;and&nbsp;conditions&nbsp;of&nbsp;this&nbsp;Privacy&nbsp;Policy.&nbsp;If&nbsp;you&nbsp;</p>

<p>do&nbsp;not&nbsp;agree&nbsp;please&nbsp;do&nbsp;not&nbsp;use&nbsp;or&nbsp;access&nbsp;our&nbsp;Website.​</p>

<p>​</p>

<p>By&nbsp;mere&nbsp;use&nbsp;of&nbsp;the&nbsp;Website,&nbsp;you&nbsp;expressly&nbsp;consent&nbsp;to&nbsp;our&nbsp;use&nbsp;and&nbsp;disclosure&nbsp;of&nbsp;your&nbsp;personal&nbsp;</p>

<p>information&nbsp;in&nbsp;accordance&nbsp;with&nbsp;this&nbsp;Privacy&nbsp;Policy.&nbsp;This&nbsp;Privacy&nbsp;Policy&nbsp;is&nbsp;incorporated&nbsp;into&nbsp;and&nbsp;subject&nbsp;</p>

<p>to&nbsp;the&nbsp;Terms&nbsp;of&nbsp;Use.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>1.&nbsp;Collection&nbsp;of&nbsp;Personally&nbsp;Identifiable&nbsp;Information&nbsp;and&nbsp;other&nbsp;Information</strong>&nbsp;</p>

<p>When&nbsp;you&nbsp;use&nbsp;our&nbsp;Website,&nbsp;we&nbsp;collect&nbsp;and&nbsp;store&nbsp;your&nbsp;personal&nbsp;information&nbsp;which&nbsp;is&nbsp;provided&nbsp;by&nbsp;you&nbsp;</p>

<p>from&nbsp;time&nbsp;to&nbsp;time.&nbsp;Our&nbsp;primary&nbsp;goal&nbsp;in&nbsp;doing&nbsp;so&nbsp;is&nbsp;to&nbsp;provide&nbsp;you&nbsp;a&nbsp;safe,&nbsp;efficient,&nbsp;smooth&nbsp;and&nbsp;</p>

<p>customized&nbsp;experience.&nbsp;This&nbsp;allows&nbsp;us&nbsp;to&nbsp;provide&nbsp;services&nbsp;and&nbsp;features&nbsp;that&nbsp;most&nbsp;likely&nbsp;meet&nbsp;your&nbsp;</p>

<p>needs,&nbsp;and&nbsp;to&nbsp;customize&nbsp;our&nbsp;Website&nbsp;to&nbsp;make&nbsp;your&nbsp;experience&nbsp;safer&nbsp;and&nbsp;easier.&nbsp;More&nbsp;importantly,&nbsp;</p>

<p>while&nbsp;doing&nbsp;so&nbsp;we&nbsp;collect&nbsp;personal&nbsp;information&nbsp;from&nbsp;you&nbsp;that&nbsp;we&nbsp;consider&nbsp;necessary&nbsp;for&nbsp;achieving&nbsp;this&nbsp;</p>

<p>purpose.​</p>

<p>​</p>

<p>In&nbsp;general,&nbsp;you&nbsp;can&nbsp;browse&nbsp;the&nbsp;Website&nbsp;without&nbsp;telling&nbsp;us&nbsp;who&nbsp;you&nbsp;are&nbsp;or&nbsp;revealing&nbsp;any&nbsp;personal&nbsp;</p>

<p>information&nbsp;about&nbsp;yourself.&nbsp;Once&nbsp;you&nbsp;give&nbsp;us&nbsp;your&nbsp;personal&nbsp;information,&nbsp;you&nbsp;are&nbsp;not&nbsp;anonymous&nbsp;to&nbsp;us.&nbsp;</p>

<p>Where&nbsp;possible,&nbsp;we&nbsp;indicate&nbsp;which&nbsp;fields&nbsp;are&nbsp;required&nbsp;and&nbsp;which&nbsp;fields&nbsp;are&nbsp;optional.&nbsp;You&nbsp;always&nbsp;have&nbsp;</p>

<p>the&nbsp;option&nbsp;to&nbsp;not&nbsp;provide&nbsp;information&nbsp;by&nbsp;choosing&nbsp;not&nbsp;to&nbsp;use&nbsp;a&nbsp;particular&nbsp;service&nbsp;or&nbsp;feature&nbsp;on&nbsp;the&nbsp;</p>

<p>Website.&nbsp;We&nbsp;may&nbsp;automatically&nbsp;track&nbsp;certain&nbsp;information&nbsp;about&nbsp;you&nbsp;based&nbsp;upon&nbsp;your&nbsp;behavior&nbsp;on&nbsp;our&nbsp;</p>

<p>Website.&nbsp;We&nbsp;use&nbsp;this&nbsp;information&nbsp;to&nbsp;do&nbsp;internal&nbsp;research&nbsp;on&nbsp;our&nbsp;users&#39;&nbsp;demographics,&nbsp;interests,&nbsp;and&nbsp;</p>

<p>behaviour&nbsp;to&nbsp;better&nbsp;understand,&nbsp;protect&nbsp;and&nbsp;serve&nbsp;our&nbsp;users.&nbsp;This&nbsp;information&nbsp;is&nbsp;compiled&nbsp;and&nbsp;analysed&nbsp;</p>

<p>on&nbsp;an&nbsp;aggregated&nbsp;basis.&nbsp;This&nbsp;information&nbsp;may&nbsp;include&nbsp;the&nbsp;URL&nbsp;that&nbsp;you&nbsp;just&nbsp;came&nbsp;from&nbsp;(whether&nbsp;this&nbsp;</p>

<p>URL&nbsp;is&nbsp;on&nbsp;our&nbsp;Website&nbsp;or&nbsp;not),&nbsp;which&nbsp;URL&nbsp;you&nbsp;next&nbsp;go&nbsp;to&nbsp;(whether&nbsp;this&nbsp;URL&nbsp;is&nbsp;on&nbsp;our&nbsp;Website&nbsp;or&nbsp;not),&nbsp;</p>

<p>your&nbsp;computer&nbsp;browser&nbsp;information,&nbsp;and&nbsp;your&nbsp;IP&nbsp;address.​</p>

<p>​</p>

<p>We&nbsp;use&nbsp;data&nbsp;collection&nbsp;devices&nbsp;such&nbsp;as&nbsp;&quot;cookies&quot;&nbsp;on&nbsp;certain&nbsp;pages&nbsp;of&nbsp;the&nbsp;Website&nbsp;to&nbsp;help&nbsp;analyse&nbsp;our&nbsp;</p>

<p>web&nbsp;page&nbsp;flow,&nbsp;measure&nbsp;promotional&nbsp;effectiveness,&nbsp;and&nbsp;promote&nbsp;trust&nbsp;and&nbsp;safety.&nbsp;&quot;Cookies&quot;&nbsp;are&nbsp;small&nbsp;</p>

<p>files&nbsp;placed&nbsp;on&nbsp;your&nbsp;hard&nbsp;drive&nbsp;that&nbsp;assist&nbsp;us&nbsp;in&nbsp;providing&nbsp;our&nbsp;services.&nbsp;We&nbsp;offer&nbsp;certain&nbsp;features&nbsp;that&nbsp;</p>

<p>are&nbsp;only&nbsp;available&nbsp;through&nbsp;the&nbsp;use&nbsp;of&nbsp;a&nbsp;&quot;cookie&quot;.&nbsp;</p>

<p>We&nbsp;also&nbsp;use&nbsp;cookies&nbsp;to&nbsp;allow&nbsp;you&nbsp;to&nbsp;enter&nbsp;your&nbsp;password&nbsp;less&nbsp;frequently&nbsp;during&nbsp;a&nbsp;session.&nbsp;Cookies&nbsp;can&nbsp;</p>

<p>also&nbsp;help&nbsp;us&nbsp;provide&nbsp;information&nbsp;that&nbsp;is&nbsp;targeted&nbsp;to&nbsp;your&nbsp;interests.&nbsp;Most&nbsp;cookies&nbsp;are&nbsp;&quot;session&nbsp;cookies,&quot;&nbsp;</p>

<p>meaning&nbsp;that&nbsp;they&nbsp;are&nbsp;automatically&nbsp;deleted&nbsp;from&nbsp;your&nbsp;hard&nbsp;drive&nbsp;at&nbsp;the&nbsp;end&nbsp;of&nbsp;a&nbsp;session.&nbsp;You&nbsp;are&nbsp;</p>

<p>always&nbsp;free&nbsp;to&nbsp;decline&nbsp;our&nbsp;cookies&nbsp;if&nbsp;your&nbsp;browser&nbsp;permits,&nbsp;although&nbsp;in&nbsp;that&nbsp;case&nbsp;you&nbsp;may&nbsp;not&nbsp;be&nbsp;able&nbsp;</p>

<p>to&nbsp;use&nbsp;certain&nbsp;features&nbsp;on&nbsp;the&nbsp;Website&nbsp;and&nbsp;you&nbsp;may&nbsp;be&nbsp;required&nbsp;to&nbsp;re-enter&nbsp;your&nbsp;password&nbsp;more&nbsp;</p>

<p>frequently&nbsp;during&nbsp;a&nbsp;session.​</p>

<p>​</p>

<p>Additionally,&nbsp;you&nbsp;may&nbsp;encounter&nbsp;&quot;cookies&quot;&nbsp;or&nbsp;other&nbsp;similar&nbsp;devices&nbsp;on&nbsp;certain&nbsp;pages&nbsp;of&nbsp;the&nbsp;Website&nbsp;that&nbsp;</p>

<p>are&nbsp;placed&nbsp;by&nbsp;third&nbsp;parties.&nbsp;We&nbsp;do&nbsp;not&nbsp;control&nbsp;the&nbsp;use&nbsp;of&nbsp;cookies&nbsp;by&nbsp;third&nbsp;parties.​</p>

<p>​</p>

<p>If&nbsp;you&nbsp;choose&nbsp;to&nbsp;post&nbsp;messages&nbsp;on&nbsp;our&nbsp;message&nbsp;boards,&nbsp;chat&nbsp;rooms&nbsp;or&nbsp;other&nbsp;message&nbsp;areas&nbsp;or&nbsp;leave&nbsp;</p>

<p>feedback,&nbsp;we&nbsp;will&nbsp;collect&nbsp;that&nbsp;information&nbsp;you&nbsp;provide&nbsp;to&nbsp;us.&nbsp;We&nbsp;retain&nbsp;this&nbsp;information&nbsp;as&nbsp;necessary&nbsp;to&nbsp;</p>

<p>resolve&nbsp;disputes,&nbsp;provide&nbsp;customer&nbsp;support&nbsp;and&nbsp;troubleshoot&nbsp;problems&nbsp;as&nbsp;permitted&nbsp;by&nbsp;law.​</p>

<p>​</p>

<p>If&nbsp;you&nbsp;send&nbsp;us&nbsp;personal&nbsp;correspondence,&nbsp;such&nbsp;as&nbsp;emails&nbsp;or&nbsp;letters,&nbsp;or&nbsp;if&nbsp;other&nbsp;users&nbsp;or&nbsp;third&nbsp;parties&nbsp;send&nbsp;</p>

<p>us&nbsp;correspondence&nbsp;about&nbsp;your&nbsp;activities&nbsp;or&nbsp;postings&nbsp;on&nbsp;the&nbsp;Website,&nbsp;we&nbsp;may&nbsp;collect&nbsp;such&nbsp;information&nbsp;</p>

<p>into&nbsp;a&nbsp;file&nbsp;specific&nbsp;to&nbsp;you.​</p>

<p>​</p>

<p>We&nbsp;collect&nbsp;personally&nbsp;identifiable&nbsp;information&nbsp;(email&nbsp;address,&nbsp;name,&nbsp;phone&nbsp;number,&nbsp;Emergency&nbsp;contact&nbsp;</p>

<p>details,&nbsp;Address,&nbsp;user&nbsp;photo&nbsp;etc.)&nbsp;from&nbsp;you&nbsp;when&nbsp;you&nbsp;set&nbsp;up&nbsp;a&nbsp;free&nbsp;account&nbsp;with&nbsp;us.&nbsp;While&nbsp;you&nbsp;can&nbsp;</p>

<p>browse&nbsp;some&nbsp;sections&nbsp;of&nbsp;our&nbsp;Website&nbsp;without&nbsp;being&nbsp;a&nbsp;registered&nbsp;member,&nbsp;certain&nbsp;activities&nbsp;(such&nbsp;as&nbsp;</p>

<p>placing&nbsp;an&nbsp;order)&nbsp;do&nbsp;require&nbsp;registration.&nbsp;We&nbsp;do&nbsp;use&nbsp;your&nbsp;contact&nbsp;information&nbsp;to&nbsp;send&nbsp;you&nbsp;offers&nbsp;based&nbsp;</p>

<p>on&nbsp;your&nbsp;previous&nbsp;orders&nbsp;and&nbsp;your&nbsp;interests.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>2.&nbsp;Use&nbsp;of&nbsp;Demographic&nbsp;/&nbsp;Profile&nbsp;Data&nbsp;/&nbsp;Your&nbsp;Information</strong>&nbsp;</p>

<p>We&nbsp;use&nbsp;personal&nbsp;information&nbsp;to&nbsp;provide&nbsp;the&nbsp;services&nbsp;you&nbsp;request.&nbsp;To&nbsp;the&nbsp;extent&nbsp;we&nbsp;use&nbsp;your&nbsp;personal&nbsp;</p>

<p>information&nbsp;to&nbsp;market&nbsp;to&nbsp;you,&nbsp;we&nbsp;will&nbsp;provide&nbsp;you&nbsp;the&nbsp;ability&nbsp;to&nbsp;opt-out&nbsp;of&nbsp;such&nbsp;uses.&nbsp;We&nbsp;use&nbsp;your&nbsp;</p>

<p>personal&nbsp;information&nbsp;to&nbsp;resolve&nbsp;disputes;&nbsp;troubleshoot&nbsp;problems;&nbsp;help&nbsp;promote&nbsp;a&nbsp;safe&nbsp;service;&nbsp;collect&nbsp;</p>

<p>money;&nbsp;measure&nbsp;consumer&nbsp;interest&nbsp;in&nbsp;our&nbsp;products&nbsp;and&nbsp;services,&nbsp;inform&nbsp;you&nbsp;about&nbsp;online&nbsp;and&nbsp;offline&nbsp;</p>

<p>offers,&nbsp;products,&nbsp;services,&nbsp;and&nbsp;updates;&nbsp;customize&nbsp;your&nbsp;experience;&nbsp;detect&nbsp;and&nbsp;protect&nbsp;us&nbsp;against&nbsp;error,&nbsp;</p>

<p>fraud&nbsp;and&nbsp;other&nbsp;criminal&nbsp;activity;&nbsp;enforce&nbsp;our&nbsp;terms&nbsp;and&nbsp;conditions;&nbsp;and&nbsp;as&nbsp;otherwise&nbsp;described&nbsp;to&nbsp;you&nbsp;</p>

<p>at&nbsp;the&nbsp;time&nbsp;of&nbsp;collection.​</p>

<p>​</p>

<p>In&nbsp;our&nbsp;efforts&nbsp;to&nbsp;continually&nbsp;improve&nbsp;our&nbsp;product&nbsp;and&nbsp;service&nbsp;offerings,&nbsp;we&nbsp;collect&nbsp;and&nbsp;analyse&nbsp;</p>

<p>demographic&nbsp;and&nbsp;profile&nbsp;data&nbsp;about&nbsp;our&nbsp;users&#39;&nbsp;activity&nbsp;on&nbsp;our&nbsp;Website.​</p>

<p>​</p>

<p>We&nbsp;identify&nbsp;and&nbsp;use&nbsp;your&nbsp;IP&nbsp;address&nbsp;to&nbsp;help&nbsp;diagnose&nbsp;problems&nbsp;with&nbsp;our&nbsp;server,&nbsp;and&nbsp;to&nbsp;administer&nbsp;our&nbsp;</p>

<p>Website.&nbsp;Your&nbsp;IP&nbsp;address&nbsp;is&nbsp;also&nbsp;used&nbsp;to&nbsp;help&nbsp;identify&nbsp;you&nbsp;and&nbsp;to&nbsp;gather&nbsp;broad&nbsp;demographic&nbsp;</p>

<p>information.​</p>

<p>​</p>

<p>We&nbsp;will&nbsp;occasionally&nbsp;ask&nbsp;you&nbsp;to&nbsp;complete&nbsp;optional&nbsp;online&nbsp;surveys.&nbsp;These&nbsp;surveys&nbsp;may&nbsp;ask&nbsp;you&nbsp;for&nbsp;</p>

<p>contact&nbsp;information&nbsp;and&nbsp;demographic&nbsp;information&nbsp;(like&nbsp;zip&nbsp;code,&nbsp;age,&nbsp;or​</p>

<p>income&nbsp;level).&nbsp;We&nbsp;use&nbsp;this&nbsp;data&nbsp;to&nbsp;tailor&nbsp;your&nbsp;experience&nbsp;at&nbsp;our&nbsp;Website,&nbsp;providing&nbsp;you&nbsp;with&nbsp;content&nbsp;that&nbsp;</p>

<p>we&nbsp;think&nbsp;you&nbsp;might&nbsp;be&nbsp;interested&nbsp;in&nbsp;and&nbsp;to&nbsp;display&nbsp;content&nbsp;according&nbsp;to&nbsp;your&nbsp;preferences.​</p>

<p>​</p>

<p><strong>Cookies</strong>​</p>

<p>​</p>

<p>A&nbsp;&quot;cookie&quot;&nbsp;is&nbsp;a&nbsp;small&nbsp;piece&nbsp;of&nbsp;information&nbsp;stored&nbsp;by&nbsp;a&nbsp;web&nbsp;server&nbsp;on&nbsp;a&nbsp;web&nbsp;browser&nbsp;so&nbsp;it&nbsp;can&nbsp;be&nbsp;later&nbsp;</p>

<p>read&nbsp;back&nbsp;from&nbsp;that&nbsp;browser.&nbsp;Cookies&nbsp;are&nbsp;useful&nbsp;for&nbsp;enabling&nbsp;the&nbsp;browser&nbsp;to&nbsp;remember&nbsp;information&nbsp;</p>

<p>specific&nbsp;to&nbsp;a&nbsp;given&nbsp;user.&nbsp;We&nbsp;place&nbsp;both&nbsp;permanent&nbsp;and&nbsp;temporary&nbsp;cookies&nbsp;in&nbsp;your&nbsp;computer&#39;s&nbsp;hard&nbsp;drive.&nbsp;</p>

<p>The&nbsp;cookies&nbsp;do&nbsp;not&nbsp;contain&nbsp;any&nbsp;of&nbsp;your&nbsp;personally&nbsp;identifiable&nbsp;information.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>3.&nbsp;Sharing&nbsp;of&nbsp;personal&nbsp;information</strong>&nbsp;</p>

<p>We&nbsp;may&nbsp;share&nbsp;personal&nbsp;information&nbsp;with&nbsp;our&nbsp;other&nbsp;corporate&nbsp;entities&nbsp;and&nbsp;affiliates&nbsp;to&nbsp;help&nbsp;detect&nbsp;and&nbsp;</p>

<p>prevent&nbsp;identity&nbsp;theft,&nbsp;fraud&nbsp;and&nbsp;other&nbsp;potentially&nbsp;illegal&nbsp;acts;&nbsp;correlate&nbsp;related&nbsp;or&nbsp;multiple&nbsp;accounts&nbsp;to&nbsp;</p>

<p>prevent&nbsp;abuse&nbsp;of&nbsp;our&nbsp;services;&nbsp;and&nbsp;to&nbsp;facilitate&nbsp;joint&nbsp;or&nbsp;co-branded&nbsp;services&nbsp;that&nbsp;you&nbsp;request&nbsp;where&nbsp;</p>

<p>such&nbsp;services&nbsp;are&nbsp;provided&nbsp;by&nbsp;more&nbsp;than&nbsp;one&nbsp;corporate&nbsp;entity.&nbsp;Those&nbsp;entities&nbsp;and&nbsp;affiliates&nbsp;may&nbsp;not&nbsp;</p>

<p>market&nbsp;to&nbsp;you&nbsp;as&nbsp;a&nbsp;result&nbsp;of&nbsp;such&nbsp;sharing&nbsp;unless&nbsp;you&nbsp;explicitly&nbsp;opt-in.​</p>

<p>​</p>

<p>We&nbsp;may&nbsp;disclose&nbsp;personal&nbsp;information&nbsp;if&nbsp;required&nbsp;to&nbsp;do&nbsp;so&nbsp;by&nbsp;law&nbsp;or&nbsp;in&nbsp;the&nbsp;good&nbsp;faith&nbsp;belief&nbsp;that&nbsp;such&nbsp;</p>

<p>disclosure&nbsp;is&nbsp;reasonably&nbsp;necessary&nbsp;to&nbsp;respond&nbsp;to&nbsp;subpoenas,&nbsp;court​</p>

<p>orders,&nbsp;or&nbsp;other&nbsp;legal&nbsp;process.&nbsp;We&nbsp;may&nbsp;disclose&nbsp;personal&nbsp;information&nbsp;to&nbsp;law&nbsp;enforcement&nbsp;offices,&nbsp;third&nbsp;</p>

<p>party&nbsp;rights&nbsp;owners,&nbsp;or&nbsp;others&nbsp;in&nbsp;the&nbsp;good&nbsp;faith&nbsp;belief&nbsp;that&nbsp;such&nbsp;disclosure&nbsp;is&nbsp;reasonably&nbsp;necessary&nbsp;to:&nbsp;</p>

<p>enforce&nbsp;our&nbsp;Terms&nbsp;or&nbsp;Privacy&nbsp;Policy;&nbsp;respond&nbsp;to&nbsp;claims&nbsp;that&nbsp;an&nbsp;advertisement,&nbsp;posting&nbsp;or&nbsp;other&nbsp;content&nbsp;</p>

<p>violates&nbsp;the&nbsp;rights&nbsp;of&nbsp;a&nbsp;third&nbsp;party;&nbsp;or&nbsp;protect&nbsp;the&nbsp;rights,&nbsp;property&nbsp;or&nbsp;personal&nbsp;safety&nbsp;of&nbsp;our&nbsp;users&nbsp;or&nbsp;the&nbsp;</p>

<p>general&nbsp;public.​</p>

<p>​</p>

<p>We&nbsp;and&nbsp;our&nbsp;affiliates&nbsp;will&nbsp;share&nbsp;/&nbsp;sell&nbsp;some&nbsp;or&nbsp;all&nbsp;of&nbsp;your&nbsp;personal&nbsp;information&nbsp;with&nbsp;another&nbsp;business&nbsp;</p>

<p>entity&nbsp;should&nbsp;we&nbsp;(or&nbsp;our&nbsp;assets)&nbsp;plan&nbsp;to&nbsp;merge&nbsp;with,&nbsp;or&nbsp;be&nbsp;acquired&nbsp;by&nbsp;that&nbsp;business&nbsp;entity,&nbsp;or&nbsp;</p>

<p>re-organization,&nbsp;amalgamation,&nbsp;restructuring&nbsp;of&nbsp;business.&nbsp;Should&nbsp;such&nbsp;a&nbsp;transaction&nbsp;occur&nbsp;that&nbsp;other&nbsp;</p>

<p>business&nbsp;entity&nbsp;(or&nbsp;the&nbsp;new&nbsp;combined&nbsp;entity)&nbsp;will&nbsp;be&nbsp;required&nbsp;to&nbsp;follow&nbsp;this&nbsp;privacy&nbsp;policy&nbsp;with&nbsp;respect&nbsp;to&nbsp;</p>

<p>your&nbsp;personal&nbsp;information.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>4.&nbsp;Links&nbsp;to&nbsp;Other&nbsp;Sites</strong>&nbsp;</p>

<p>Our&nbsp;Website&nbsp;links&nbsp;to&nbsp;other&nbsp;websites&nbsp;that&nbsp;may&nbsp;collect&nbsp;personally&nbsp;identifiable&nbsp;information&nbsp;about&nbsp;you.&nbsp;</p>

<p>FitnessPapa.com&nbsp;is&nbsp;not&nbsp;responsible&nbsp;for&nbsp;the&nbsp;privacy&nbsp;practices&nbsp;or&nbsp;the&nbsp;content&nbsp;of&nbsp;those&nbsp;linked&nbsp;websites.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>5.&nbsp;Security&nbsp;Precautions</strong>&nbsp;</p>

<p>Our&nbsp;Website&nbsp;has&nbsp;stringent&nbsp;security&nbsp;measures&nbsp;in&nbsp;place&nbsp;to&nbsp;protect&nbsp;the&nbsp;loss,&nbsp;misuse,&nbsp;and&nbsp;alteration&nbsp;of&nbsp;the&nbsp;</p>

<p>information&nbsp;under&nbsp;our&nbsp;control.&nbsp;Whenever&nbsp;you&nbsp;change&nbsp;or&nbsp;access&nbsp;your&nbsp;account&nbsp;information,&nbsp;we&nbsp;offer&nbsp;the&nbsp;</p>

<p>use&nbsp;of&nbsp;a&nbsp;secure&nbsp;server.&nbsp;Once&nbsp;your&nbsp;information&nbsp;is&nbsp;in&nbsp;our&nbsp;possession&nbsp;we&nbsp;adhere&nbsp;to&nbsp;strict&nbsp;security&nbsp;</p>

<p>guidelines,&nbsp;protecting&nbsp;it&nbsp;against&nbsp;unauthorized&nbsp;access.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>6.&nbsp;Choice/Opt-Out</strong>&nbsp;</p>

<p>We&nbsp;provide&nbsp;all&nbsp;users&nbsp;with&nbsp;the&nbsp;opportunity&nbsp;to&nbsp;opt-out&nbsp;of&nbsp;receiving&nbsp;non-essential&nbsp;(promotional,&nbsp;</p>

<p>marketing-related)&nbsp;communications&nbsp;from&nbsp;us&nbsp;on&nbsp;behalf&nbsp;of&nbsp;our&nbsp;partners,&nbsp;and&nbsp;from&nbsp;us&nbsp;in&nbsp;general,&nbsp;after&nbsp;</p>

<p>setting&nbsp;up&nbsp;an&nbsp;account.​</p>

<p>​</p>

<p>If&nbsp;you&nbsp;want&nbsp;to&nbsp;remove&nbsp;your&nbsp;contact&nbsp;information&nbsp;from&nbsp;all&nbsp;FitnessPapa.com&nbsp;lists&nbsp;and&nbsp;newsletters,&nbsp;please&nbsp;</p>

<p>visit&nbsp;unsubscribe&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>7.&nbsp;Advertisements&nbsp;on&nbsp;</strong><strong>FitnessPapa</strong><strong>.com</strong>&nbsp;</p>

<p>We&nbsp;use&nbsp;third-party&nbsp;advertising&nbsp;companies&nbsp;to&nbsp;serve&nbsp;ads&nbsp;when&nbsp;you&nbsp;visit&nbsp;our&nbsp;Website.&nbsp;These&nbsp;companies&nbsp;</p>

<p>may&nbsp;use&nbsp;information&nbsp;(not&nbsp;including&nbsp;your&nbsp;name,&nbsp;address,&nbsp;email​</p>

<p>address,&nbsp;or&nbsp;telephone&nbsp;number)&nbsp;about&nbsp;your&nbsp;visits&nbsp;to&nbsp;this&nbsp;and&nbsp;other&nbsp;websites&nbsp;in&nbsp;order&nbsp;to&nbsp;provide&nbsp;</p>

<p>advertisements&nbsp;about&nbsp;goods&nbsp;and&nbsp;services&nbsp;of&nbsp;interest&nbsp;to&nbsp;you.&nbsp;</p>

<p>​</p>

<p>&nbsp;</p>

<p><strong>8.&nbsp;Your&nbsp;Consent</strong>&nbsp;</p>

<p>By&nbsp;using&nbsp;the&nbsp;Website&nbsp;and/&nbsp;or&nbsp;by&nbsp;providing&nbsp;your&nbsp;information,&nbsp;you&nbsp;consent&nbsp;to&nbsp;the&nbsp;collection&nbsp;and&nbsp;use&nbsp;of&nbsp;the&nbsp;</p>

<p>information&nbsp;you&nbsp;disclose&nbsp;on&nbsp;the&nbsp;Website&nbsp;in&nbsp;accordance&nbsp;with&nbsp;this&nbsp;Privacy&nbsp;Policy,&nbsp;including&nbsp;but&nbsp;not&nbsp;limited&nbsp;</p>

<p>to&nbsp;Your&nbsp;consent&nbsp;for&nbsp;sharing&nbsp;your&nbsp;information&nbsp;as&nbsp;per&nbsp;this&nbsp;privacy&nbsp;policy.​</p>

<p>​</p>

<p>If&nbsp;we&nbsp;decide&nbsp;to&nbsp;change&nbsp;our&nbsp;privacy&nbsp;policy,&nbsp;we&nbsp;will&nbsp;post&nbsp;those&nbsp;changes&nbsp;on&nbsp;this&nbsp;page&nbsp;so&nbsp;that&nbsp;you&nbsp;are&nbsp;</p>

<p>always&nbsp;aware&nbsp;of&nbsp;what&nbsp;information&nbsp;we&nbsp;collect,&nbsp;how&nbsp;we&nbsp;use&nbsp;it,&nbsp;and&nbsp;under&nbsp;what&nbsp;circumstances&nbsp;we&nbsp;</p>

<p>disclose&nbsp;it.&nbsp;</p>

<p>&nbsp;</p>

<p>9.&nbsp;&nbsp;FitnessPapa&nbsp;uses&nbsp;an&nbsp;online&nbsp;payment&nbsp;gateway&nbsp;that&nbsp;is&nbsp;operated&nbsp;by&nbsp;a&nbsp;third&nbsp;party&nbsp;and&nbsp;the&nbsp;information&nbsp;that&nbsp;You&nbsp;share&nbsp;with&nbsp;</p>

<p>FitnessPapa&nbsp;is&nbsp;transferred&nbsp;and&nbsp;shared&nbsp;with&nbsp;such&nbsp;third&nbsp;party&nbsp;payment&nbsp;gateway&nbsp;operator.&nbsp;The&nbsp;said&nbsp;operator&nbsp;may&nbsp;also&nbsp;have&nbsp;access&nbsp;</p>

<p>to&nbsp;your&nbsp;online&nbsp;purchase&nbsp;history/details&nbsp;that&nbsp;you&nbsp;make&nbsp;from&nbsp;the&nbsp;Website.​</p>

<p>​</p>

<p>Extremely&nbsp;sensitive&nbsp;information&nbsp;like&nbsp;your&nbsp;credit-card&nbsp;details&nbsp;are&nbsp;transacted&nbsp;upon&nbsp;secure&nbsp;sites&nbsp;of&nbsp;approved&nbsp;payment&nbsp;gateways&nbsp;</p>

<p>which&nbsp;are&nbsp;digitally&nbsp;under&nbsp;encryption,&nbsp;thereby&nbsp;providing&nbsp;the&nbsp;highest&nbsp;possible&nbsp;degree&nbsp;of&nbsp;care&nbsp;as&nbsp;per&nbsp;current&nbsp;technology.&nbsp;You&nbsp;are&nbsp;</p>

<p>advised,&nbsp;however,&nbsp;that&nbsp;internet&nbsp;technology&nbsp;is&nbsp;not&nbsp;100%&nbsp;safe&nbsp;and&nbsp;you&nbsp;should&nbsp;exercise&nbsp;discretion&nbsp;on&nbsp;using&nbsp;the&nbsp;same.&nbsp;​</p>

<p>&nbsp;</p>

<p>10.&nbsp;FitnessPapa&nbsp;strives&nbsp;to&nbsp;ensure&nbsp;the&nbsp;security,&nbsp;integrity&nbsp;and&nbsp;privacy&nbsp;of&nbsp;Your&nbsp;Personal&nbsp;Information&nbsp;and&nbsp;to&nbsp;protect&nbsp;Your&nbsp;Personal&nbsp;</p>

<p>Information&nbsp;against&nbsp;unauthorized&nbsp;access&nbsp;or&nbsp;unauthorized&nbsp;alteration,&nbsp;disclosure&nbsp;or&nbsp;destruction.&nbsp;For&nbsp;this&nbsp;purpose,&nbsp;FitnessPapa&nbsp;</p>

<p>adopts&nbsp;internal&nbsp;reviews&nbsp;of&nbsp;the&nbsp;data&nbsp;collection,&nbsp;storage&nbsp;and&nbsp;processing&nbsp;practices&nbsp;and&nbsp;security&nbsp;measures,&nbsp;including&nbsp;appropriate&nbsp;</p>

<p>encryption&nbsp;and&nbsp;physical&nbsp;security&nbsp;measures&nbsp;to&nbsp;guard&nbsp;against&nbsp;unauthorized&nbsp;access&nbsp;to&nbsp;systems&nbsp;where&nbsp;FitnessPapa&nbsp;stores&nbsp;your&nbsp;</p>

<p>personal&nbsp;data.&nbsp;​</p>

<p>​</p>

<p>FitnessPapa&nbsp;is&nbsp;not&nbsp;responsible&nbsp;for&nbsp;any&nbsp;breach&nbsp;of&nbsp;security&nbsp;or&nbsp;for&nbsp;any&nbsp;actions&nbsp;of&nbsp;any&nbsp;third&nbsp;parties&nbsp;that&nbsp;receive&nbsp;Your&nbsp;Personal&nbsp;</p>

<p>Information.&nbsp;The&nbsp;Website&nbsp;also&nbsp;linked&nbsp;to&nbsp;many&nbsp;other&nbsp;sites&nbsp;and&nbsp;we&nbsp;are&nbsp;not/shall&nbsp;be&nbsp;not&nbsp;responsible&nbsp;for&nbsp;their&nbsp;privacy&nbsp;policies&nbsp;or&nbsp;</p>

<p>practices&nbsp;as&nbsp;it&nbsp;is&nbsp;beyond&nbsp;our&nbsp;control.​</p>

<p>​</p>

<p>Notwithstanding&nbsp;anything&nbsp;contained&nbsp;in&nbsp;this&nbsp;Policy&nbsp;or&nbsp;elsewhere,&nbsp;FitnessPapa&nbsp;shall&nbsp;not&nbsp;be&nbsp;held&nbsp;responsible&nbsp;for&nbsp;any&nbsp;loss,&nbsp;damage&nbsp;</p>

<p>or&nbsp;misuse&nbsp;of&nbsp;Your&nbsp;Personal&nbsp;Information,&nbsp;if&nbsp;such&nbsp;loss,&nbsp;damage&nbsp;or&nbsp;misuse&nbsp;is&nbsp;attributable&nbsp;to&nbsp;a&nbsp;Force&nbsp;Majeure&nbsp;Event&nbsp;(as&nbsp;defined&nbsp;</p>

<p>below).​</p>

<p>​</p>

<p>A&nbsp;<strong>&quot;Force&nbsp;Majeure&nbsp;Event&quot;</strong>&nbsp;shall&nbsp;mean&nbsp;any&nbsp;event&nbsp;that&nbsp;is&nbsp;beyond&nbsp;the&nbsp;reasonable&nbsp;control&nbsp;of&nbsp;FitnessPapa&nbsp;and&nbsp;shall&nbsp;include,&nbsp;</p>

<p>without&nbsp;limitation,&nbsp;sabotage,&nbsp;fire,&nbsp;flood,&nbsp;explosion,&nbsp;acts&nbsp;of&nbsp;God,&nbsp;civil&nbsp;commotion,&nbsp;strikes&nbsp;or&nbsp;industrial&nbsp;action&nbsp;of&nbsp;any&nbsp;kind,&nbsp;riots,&nbsp;</p>

<p>insurrection,&nbsp;war,&nbsp;acts&nbsp;of&nbsp;government,&nbsp;computer&nbsp;hacking,&nbsp;unauthorised&nbsp;access&nbsp;to&nbsp;computer&nbsp;data&nbsp;and&nbsp;storage&nbsp;device,&nbsp;computer&nbsp;</p>

<p>crashes,&nbsp;breach&nbsp;of&nbsp;security&nbsp;and&nbsp;encryption,&nbsp;etc.&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>11.&nbsp;FitnessPapa&nbsp;doesn&rsquo;t&nbsp;share&nbsp;any&nbsp;exclusive&nbsp;or&nbsp;any&nbsp;partner&nbsp;specific&nbsp;information&nbsp;or&nbsp;planned&nbsp;advertisement,&nbsp;campaign&nbsp;or&nbsp;business&nbsp;</p>

<p>activities&nbsp;to&nbsp;another&nbsp;&amp;&nbsp;Competing&nbsp;Partners.&nbsp;FitnessPapa&nbsp;fully&nbsp;protects&nbsp;information&nbsp;of&nbsp;individual&nbsp;partner&nbsp;details.&nbsp;</p>

<p>11.&nbsp;For&nbsp;any&nbsp;legal&nbsp;&amp;&nbsp;grievance&nbsp;issues,&nbsp;Please&nbsp;reach&nbsp;out&nbsp;to&nbsp;legal@fitnesspapa.com&nbsp;or&nbsp;support@fitnesspapa.com&nbsp;&nbsp;</p>



</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>