<%= render :partial => 'layouts/header'%>

<div class="container" style="margin-top:28px">
<p><span style="color:#ffa500;">1.&nbsp;THE&nbsp;TERMS&nbsp;</span></p>
<p>&nbsp;</p>
<p>These&nbsp;terms&nbsp;and&nbsp;conditions&nbsp;of&nbsp;use&nbsp;(&quot;<strong>Terms&nbsp;of&nbsp;Use</strong>&quot;&nbsp;or&nbsp;&ldquo;<strong>Terms</strong>&rdquo;)&nbsp;of&nbsp;the&nbsp;website&nbsp;www.fitnesspapa.com&nbsp;and&nbsp;</p>
<p>instances&nbsp;thereof&nbsp;(&ldquo;<strong>Website</strong>&rdquo;)&nbsp;between&nbsp;<strong>StunApp&nbsp;Technologies&nbsp;&amp;&nbsp;Services&nbsp;Pvt&nbsp;Ltd</strong>,&nbsp;a&nbsp;company&nbsp;</p>
<p>incorporated&nbsp;under&nbsp;the&nbsp;Companies&nbsp;Act,&nbsp;1956,&nbsp;(&ldquo;<strong>Company</strong>&rdquo;&nbsp;or&nbsp;&ldquo;<strong>FitnessPapa</strong>&rdquo;&nbsp;and&nbsp;its&nbsp;successors&nbsp;and&nbsp;</p>
<p>assigns)&nbsp;and&nbsp;the&nbsp;users&nbsp;of&nbsp;the&nbsp;Website&nbsp;(&quot;You&quot;&nbsp;or&nbsp;&quot;Your&quot;&nbsp;or&nbsp;&quot;Yourself&quot;&nbsp;or&nbsp;&quot;User&quot;)&nbsp;describe&nbsp;the&nbsp;terms&nbsp;on&nbsp;</p>
<p>which&nbsp;the&nbsp;Company&nbsp;offers&nbsp;You&nbsp;access&nbsp;to&nbsp;the&nbsp;Website.&nbsp;</p>
<p>PLEASE&nbsp;READ&nbsp;THE&nbsp;TERMS&nbsp;CAREFULLY&nbsp;BEFORE&nbsp;USING&nbsp;OR&nbsp;ACCESSING&nbsp;ANY&nbsp;MATERIAL,&nbsp;</p>
<p>INFORMATION&nbsp;OR&nbsp;SERVICES&nbsp;THROUGH&nbsp;THE&nbsp;WEBSITE.&nbsp;YOUR&nbsp;USE&nbsp;OF&nbsp;THE&nbsp;WEBSITE&nbsp;OR&nbsp;</p>
<p>THE&nbsp;SERVICES&nbsp;PROVIDED&nbsp;BY&nbsp;THE&nbsp;WEBSITE&nbsp;SHALL&nbsp;SIGNIFY&nbsp;YOUR&nbsp;ACCEPTANCE&nbsp;OF&nbsp;THE&nbsp;</p>
<p>TERMS&nbsp;AND&nbsp;YOUR&nbsp;AGREEMENT&nbsp;TO&nbsp;BE&nbsp;LEGALLY&nbsp;BOUND&nbsp;BY&nbsp;THE&nbsp;SAME.&nbsp;</p>
<p>&nbsp;</p>
<p>www.fitnesspapa.com&nbsp;is&nbsp;a&nbsp;platform&nbsp;that&nbsp;facilitates&nbsp;the&nbsp;online&nbsp;sale&nbsp;and&nbsp;purchase&nbsp;of&nbsp;quality&nbsp;Fitness&nbsp;&amp;&nbsp;wellness&nbsp;</p>
<p>services&nbsp;(<strong>&quot;Services&quot;</strong>)&nbsp;offered&nbsp;by&nbsp;Fitness&nbsp;Papa&rsquo;s&nbsp;various&nbsp;affiliates/&nbsp;registered&nbsp;merchants/&nbsp;vendors/&nbsp;Partner/service&nbsp;</p>
<p>providers&nbsp;(<strong>&quot;Vendor/s&quot;</strong>).&nbsp;The&nbsp;Services&nbsp;are&nbsp;offered&nbsp;to&nbsp;the&nbsp;Users&nbsp;through&nbsp;various&nbsp;modes&nbsp;which&nbsp;shall&nbsp;include&nbsp;but&nbsp;not&nbsp;</p>
<p>be&nbsp;limited&nbsp;to,&nbsp;sale&nbsp;of&nbsp;Vouchers&nbsp;that&nbsp;can&nbsp;be&nbsp;redeemed&nbsp;for&nbsp;various&nbsp;services,&nbsp;sale&nbsp;of&nbsp;services&nbsp;etc.&nbsp;The&nbsp;Vendors&nbsp;are&nbsp;the&nbsp;</p>
<p>sellers&nbsp;of&nbsp;various&nbsp;Fitness&nbsp;&amp;&nbsp;Wellness&nbsp;services&nbsp;on&nbsp;the&nbsp;Website&nbsp;and&nbsp;will&nbsp;be&nbsp;solely&nbsp;responsible&nbsp;to&nbsp;You&nbsp;for&nbsp;the&nbsp;services&nbsp;</p>
<p>sold&nbsp;or&nbsp;for&nbsp;redemption&nbsp;of&nbsp;any&nbsp;Voucher&nbsp;purchased&nbsp;by&nbsp;You&nbsp;through&nbsp;the&nbsp;Website.&nbsp;</p>
<p>You&nbsp;acknowledge&nbsp;that&nbsp;FitnessPapa&nbsp;has&nbsp;the&nbsp;right&nbsp;to&nbsp;change&nbsp;or&nbsp;discontinue&nbsp;any&nbsp;Service&nbsp;at&nbsp;any&nbsp;time,&nbsp;without&nbsp;notice.&nbsp;</p>
<p>You&nbsp;further&nbsp;acknowledge&nbsp;that&nbsp;FitnessPapa&nbsp;may&nbsp;add&nbsp;or&nbsp;modify&nbsp;the&nbsp;procedures,&nbsp;modes,&nbsp;processes&nbsp;or&nbsp;conditions&nbsp;of&nbsp;</p>
<p>purchase&nbsp;at&nbsp;any&nbsp;time&nbsp;to&nbsp;adapt&nbsp;to&nbsp;changes&nbsp;that&nbsp;FitnessPapa&nbsp;may&nbsp;make&nbsp;to&nbsp;the&nbsp;Services.&nbsp;You&nbsp;agree&nbsp;that&nbsp;FitnessPapa&nbsp;</p>
<p>shall&nbsp;not&nbsp;be&nbsp;liable&nbsp;to&nbsp;You&nbsp;or&nbsp;to&nbsp;any&nbsp;third&nbsp;party&nbsp;for&nbsp;any&nbsp;modification,&nbsp;suspension&nbsp;or&nbsp;discontinuance&nbsp;of&nbsp;any&nbsp;aspect&nbsp;of&nbsp;</p>
<p>the&nbsp;Services.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">2.&nbsp;GENERAL&nbsp;</span></p>
<p>&nbsp;</p>
<p>The&nbsp;Website&nbsp;is&nbsp;an&nbsp;Internet&nbsp;based&nbsp;portal&nbsp;owned&nbsp;and&nbsp;operated&nbsp;by&nbsp;the&nbsp;Company.&nbsp;Use&nbsp;of&nbsp;the&nbsp;Website&nbsp;is&nbsp;</p>
<p>offered&nbsp;to&nbsp;You&nbsp;subject&nbsp;to&nbsp;acceptance&nbsp;of&nbsp;all&nbsp;the&nbsp;terms,&nbsp;conditions&nbsp;and&nbsp;notices&nbsp;contained&nbsp;in&nbsp;the&nbsp;Terms,&nbsp;along&nbsp;</p>
<p>with&nbsp;any&nbsp;amendments&nbsp;made&nbsp;by&nbsp;the&nbsp;Company&nbsp;at&nbsp;its&nbsp;sole&nbsp;discretion&nbsp;and&nbsp;posted&nbsp;on&nbsp;the&nbsp;Website,&nbsp;including&nbsp;by&nbsp;</p>
<p>way&nbsp;of&nbsp;imposing&nbsp;any&nbsp;charge&nbsp;for&nbsp;access&nbsp;to&nbsp;or&nbsp;use&nbsp;of&nbsp;a&nbsp;Service&nbsp;(defined&nbsp;below).&nbsp;By&nbsp;(i)&nbsp;using&nbsp;this&nbsp;Website&nbsp;or&nbsp;</p>
<p>any&nbsp;facility&nbsp;or&nbsp;service&nbsp;provided&nbsp;via&nbsp;this&nbsp;Website&nbsp;in&nbsp;any&nbsp;way;&nbsp;or&nbsp;(ii)&nbsp;merely&nbsp;browsing&nbsp;the&nbsp;Website,&nbsp;You&nbsp;</p>
<p>agree&nbsp;that&nbsp;You&nbsp;have&nbsp;read,&nbsp;understood&nbsp;and&nbsp;agreed&nbsp;to&nbsp;be&nbsp;bound&nbsp;by&nbsp;these&nbsp;Terms&nbsp;and&nbsp;the&nbsp;Privacy&nbsp;Policy&nbsp;</p>
<p>available&nbsp;at&nbsp;the&nbsp;homepage,&nbsp;www.fitnesspapa.com.&nbsp;</p>
<p>The&nbsp;Company&nbsp;shall&nbsp;not&nbsp;be&nbsp;required&nbsp;to&nbsp;notify&nbsp;You&nbsp;of&nbsp;any&nbsp;changes&nbsp;made&nbsp;to&nbsp;the&nbsp;Terms.&nbsp;The&nbsp;revised&nbsp;Terms&nbsp;</p>
<p>shall&nbsp;be&nbsp;made&nbsp;available&nbsp;on&nbsp;the&nbsp;Website.&nbsp;Your&nbsp;use&nbsp;of&nbsp;the&nbsp;Website&nbsp;is&nbsp;subject&nbsp;to&nbsp;the&nbsp;most&nbsp;current&nbsp;version&nbsp;of&nbsp;</p>
<p>the&nbsp;Terms&nbsp;of&nbsp;Use&nbsp;made&nbsp;available&nbsp;on&nbsp;the&nbsp;Website&nbsp;at&nbsp;the&nbsp;time&nbsp;of&nbsp;such&nbsp;use.&nbsp;You&nbsp;are&nbsp;requested&nbsp;to&nbsp;regularly&nbsp;</p>
<p>visit&nbsp;the&nbsp;home&nbsp;page&nbsp;www.fitnesspapa.com&nbsp;to&nbsp;view&nbsp;the&nbsp;most&nbsp;current&nbsp;Terms.&nbsp;You&nbsp;can&nbsp;determine&nbsp;when&nbsp;the&nbsp;</p>
<p>Company&nbsp;last&nbsp;modified&nbsp;the&nbsp;Terms&nbsp;by&nbsp;referring&nbsp;to&nbsp;the&nbsp;&quot;Last&nbsp;Updated&quot;&nbsp;legend&nbsp;above.&nbsp;It&nbsp;shall&nbsp;be&nbsp;Your&nbsp;</p>
<p>responsibility&nbsp;to&nbsp;check&nbsp;the&nbsp;Terms&nbsp;periodically&nbsp;for&nbsp;changes.&nbsp;The&nbsp;Company&nbsp;may&nbsp;require&nbsp;You&nbsp;to&nbsp;provide&nbsp;</p>
<p>Your&nbsp;consent&nbsp;to&nbsp;the&nbsp;updated&nbsp;Terms&nbsp;in&nbsp;a&nbsp;specified&nbsp;manner&nbsp;before&nbsp;any&nbsp;further&nbsp;use&nbsp;of&nbsp;the&nbsp;Website&nbsp;and&nbsp;the&nbsp;</p>
<p>Services.&nbsp;If&nbsp;no&nbsp;such&nbsp;separate&nbsp;consent&nbsp;is&nbsp;sought,&nbsp;Your&nbsp;continued&nbsp;use&nbsp;of&nbsp;the&nbsp;Website&nbsp;will&nbsp;constitute&nbsp;Your&nbsp;</p>
<p>acceptance&nbsp;of&nbsp;such&nbsp;changes.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">3.&nbsp;SERVICES&nbsp;</span></p>
<p>&nbsp;</p>
<p>The&nbsp;Company&nbsp;offers&nbsp;a&nbsp;platform&nbsp;that&nbsp;facilitates&nbsp;sale&nbsp;and&nbsp;purchase&nbsp;of&nbsp;Fitness&nbsp;&amp;&nbsp;Wellness&nbsp;services&nbsp;</p>
<p>(&ldquo;<strong>Services</strong>&rdquo;)&nbsp;by&nbsp;various&nbsp;third&nbsp;party&nbsp;vendors/service&nbsp;providers&nbsp;(&ldquo;<strong>Vendors</strong>&rdquo;)&nbsp;to&nbsp;users.&nbsp;&nbsp;</p>
<p>You&nbsp;should&nbsp;take&nbsp;all&nbsp;responsibility&nbsp;for&nbsp;your&nbsp;own&nbsp;actions&nbsp;in&nbsp;utilizing&nbsp;the&nbsp;Products&nbsp;purchased&nbsp;by&nbsp;You&nbsp;and&nbsp;</p>
<p>Fitness&nbsp;Papa&nbsp;shall&nbsp;not&nbsp;be&nbsp;liable&nbsp;for&nbsp;any&nbsp;such&nbsp;action.&nbsp;</p>
<p>&nbsp;You&nbsp;represents&nbsp;that&nbsp;You&nbsp;are&nbsp;of&nbsp;legal&nbsp;age&nbsp;to&nbsp;form&nbsp;a&nbsp;binding&nbsp;contract&nbsp;and&nbsp;are&nbsp;not&nbsp;a&nbsp;person&nbsp;barred&nbsp;from&nbsp;</p>
<p>receiving&nbsp;services&nbsp;under&nbsp;the&nbsp;laws&nbsp;as&nbsp;applicable&nbsp;in&nbsp;India.&nbsp;</p>
<p>&nbsp;Fitness&nbsp;Papa&nbsp;shall&nbsp;not&nbsp;be&nbsp;responsible&nbsp;for&nbsp;any&nbsp;deficiency&nbsp;in&nbsp;payment&nbsp;of&nbsp;consideration&nbsp;payable&nbsp;towards&nbsp;the&nbsp;</p>
<p>Products&nbsp;purchased&nbsp;on&nbsp;the&nbsp;Website.&nbsp;</p>
<p>Fitness&nbsp;Papa&nbsp;is&nbsp;not&nbsp;responsible&nbsp;for&nbsp;accuracy&nbsp;&amp;&nbsp;correctness&nbsp;of&nbsp;center&nbsp;related&nbsp;information.&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">4.&nbsp;ELIGIBILITY&nbsp;TO&nbsp;USE&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;You&nbsp;represent&nbsp;</p>
<p>that&nbsp;You&nbsp;are&nbsp;of&nbsp;legal&nbsp;age&nbsp;to&nbsp;form&nbsp;a&nbsp;binding&nbsp;contract&nbsp;and&nbsp;are&nbsp;not&nbsp;a&nbsp;person&nbsp;barred&nbsp;from&nbsp;receiving&nbsp;Services&nbsp;</p>
<p>under&nbsp;the&nbsp;laws&nbsp;as&nbsp;applicable&nbsp;in&nbsp;India.&nbsp;</p>
<p>The&nbsp;Company&nbsp;reserves&nbsp;the&nbsp;right&nbsp;to&nbsp;refuse&nbsp;access&nbsp;to&nbsp;use&nbsp;the&nbsp;Services&nbsp;offered&nbsp;at&nbsp;the&nbsp;Website&nbsp;to&nbsp;new&nbsp;Users&nbsp;or&nbsp;</p>
<p>to&nbsp;terminate&nbsp;access&nbsp;granted&nbsp;to&nbsp;existing&nbsp;Users&nbsp;at&nbsp;any&nbsp;time&nbsp;for&nbsp;any&nbsp;reason&nbsp;or&nbsp;without&nbsp;providing&nbsp;any&nbsp;reasons.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">5.&nbsp;USER&nbsp;ACCOUNT,&nbsp;PASSWORD,&nbsp;AND&nbsp;SECURITY&nbsp;</span></p>
<p>&nbsp;</p>
<p>5.1.&nbsp;The&nbsp;Company&nbsp;may&nbsp;make&nbsp;the&nbsp;Services&nbsp;available&nbsp;to&nbsp;You&nbsp;only&nbsp;if&nbsp;You&nbsp;have&nbsp;provided&nbsp;FitnessPapa&nbsp;certain&nbsp;</p>
<p>required&nbsp;User&nbsp;information&nbsp;and&nbsp;/&nbsp;or&nbsp;created&nbsp;an&nbsp;account&nbsp;(&quot;<strong>Account</strong>&quot;)&nbsp;through&nbsp;an&nbsp;FitnessPapa&nbsp;ID&nbsp;and&nbsp;</p>
<p>password&nbsp;or&nbsp;other&nbsp;log-in&nbsp;ID&nbsp;and&nbsp;password&nbsp;(collectively,&nbsp;the&nbsp;&quot;<strong>Account&nbsp;Information</strong>&quot;).&nbsp;The&nbsp;Services&nbsp;may&nbsp;</p>
<p>also&nbsp;be&nbsp;subject&nbsp;to&nbsp;procedures&nbsp;for&nbsp;use&nbsp;of&nbsp;the&nbsp;Website,&nbsp;uploaded&nbsp;guide,&nbsp;rules,&nbsp;additional&nbsp;terms&nbsp;of&nbsp;service,&nbsp;or&nbsp;</p>
<p>other&nbsp;disclaimer&nbsp;&amp;&nbsp;notices,&nbsp;if&nbsp;any&nbsp;(&quot;<strong>Additional&nbsp;Terms</strong>&quot;).&nbsp;If&nbsp;there&nbsp;is&nbsp;any&nbsp;conflict&nbsp;between&nbsp;the&nbsp;Terms&nbsp;of&nbsp;Use&nbsp;</p>
<p>and&nbsp;the&nbsp;Additional&nbsp;Terms,&nbsp;the&nbsp;Additional&nbsp;Terms&nbsp;shall&nbsp;take&nbsp;precedence&nbsp;in&nbsp;relation&nbsp;to&nbsp;that&nbsp;service.&nbsp;</p>
<p>5.2.&nbsp;You&nbsp;will&nbsp;be&nbsp;responsible&nbsp;for&nbsp;maintaining&nbsp;the&nbsp;confidentiality&nbsp;of&nbsp;the&nbsp;Account&nbsp;Information,&nbsp;and&nbsp;are&nbsp;fully&nbsp;</p>
<p>responsible&nbsp;for&nbsp;all&nbsp;activities&nbsp;that&nbsp;occur&nbsp;under&nbsp;Your&nbsp;Account.&nbsp;You&nbsp;agree&nbsp;to&nbsp;(a)&nbsp;immediately&nbsp;notify&nbsp;</p>
<p>FitnessPapa&nbsp;of&nbsp;any&nbsp;unauthorized&nbsp;use&nbsp;of&nbsp;Your&nbsp;Account&nbsp;Information&nbsp;or&nbsp;any&nbsp;other&nbsp;breach&nbsp;of&nbsp;security,&nbsp;and&nbsp;(b)&nbsp;</p>
<p>ensure&nbsp;that&nbsp;You&nbsp;exit&nbsp;from&nbsp;Your&nbsp;Account&nbsp;at&nbsp;the&nbsp;end&nbsp;of&nbsp;each&nbsp;session.&nbsp;FitnessPapa&nbsp;cannot&nbsp;and&nbsp;will&nbsp;not&nbsp;be&nbsp;</p>
<p>liable&nbsp;for&nbsp;any&nbsp;loss&nbsp;or&nbsp;damage&nbsp;arising&nbsp;from&nbsp;Your&nbsp;failure&nbsp;to&nbsp;comply&nbsp;with&nbsp;these&nbsp;conditions.&nbsp;You&nbsp;may&nbsp;be&nbsp;held&nbsp;</p>
<p>liable&nbsp;for&nbsp;losses&nbsp;incurred&nbsp;by&nbsp;FitnessPapa&nbsp;or&nbsp;any&nbsp;other&nbsp;user&nbsp;of&nbsp;or&nbsp;visitor&nbsp;to&nbsp;the&nbsp;Website&nbsp;due&nbsp;to&nbsp;authorized&nbsp;or&nbsp;</p>
<p>unauthorized&nbsp;use&nbsp;of&nbsp;Your&nbsp;Account&nbsp;as&nbsp;a&nbsp;result&nbsp;of&nbsp;Your&nbsp;failure&nbsp;in&nbsp;keeping&nbsp;Your&nbsp;Account&nbsp;Information&nbsp;secure&nbsp;</p>
<p>and&nbsp;confidential.&nbsp;</p>
<p>5.3.&nbsp;You&nbsp;shall&nbsp;ensure&nbsp;that&nbsp;the&nbsp;Account&nbsp;Information&nbsp;provided&nbsp;by&nbsp;You&nbsp;in&nbsp;the&nbsp;Website&#39;s&nbsp;registration&nbsp;form&nbsp;is&nbsp;</p>
<p>complete,&nbsp;accurate&nbsp;and&nbsp;up-to-date.&nbsp;Use&nbsp;of&nbsp;another&nbsp;user&#39;s&nbsp;Account&nbsp;Information&nbsp;for&nbsp;availing&nbsp;the&nbsp;Services&nbsp;is&nbsp;</p>
<p>expressly&nbsp;prohibited.&nbsp;</p>
<p>5.4.&nbsp;If&nbsp;You&nbsp;provide&nbsp;any&nbsp;information&nbsp;that&nbsp;is&nbsp;untrue,&nbsp;inaccurate,&nbsp;not&nbsp;current&nbsp;or&nbsp;incomplete&nbsp;(or&nbsp;becomes&nbsp;</p>
<p>untrue,&nbsp;inaccurate,&nbsp;not&nbsp;current&nbsp;or&nbsp;incomplete),&nbsp;or&nbsp;FitnessPapa&nbsp;has&nbsp;reasonable&nbsp;grounds&nbsp;to&nbsp;suspect&nbsp;that&nbsp;such&nbsp;</p>
<p>information&nbsp;is&nbsp;untrue,&nbsp;inaccurate,&nbsp;not&nbsp;current&nbsp;or&nbsp;incomplete,&nbsp;FitnessPapa&nbsp;has&nbsp;the&nbsp;right&nbsp;to&nbsp;suspend&nbsp;or&nbsp;</p>
<p>terminate&nbsp;Your&nbsp;Account&nbsp;and&nbsp;refuse&nbsp;any&nbsp;and&nbsp;all&nbsp;current&nbsp;or&nbsp;future&nbsp;use&nbsp;of&nbsp;the&nbsp;Website&nbsp;(or&nbsp;any&nbsp;portion&nbsp;</p>
<p>thereof).&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">6.&nbsp;PRICING&nbsp;INFORMATION&nbsp;</span></p>
<p>&nbsp;</p>
<p>6.1.&nbsp;FitnessPapa&nbsp;strives&nbsp;to&nbsp;cause&nbsp;Vendors&nbsp;to&nbsp;make&nbsp;available&nbsp;services&nbsp;at&nbsp;the&nbsp;best&nbsp;possible&nbsp;prices&nbsp;and&nbsp;terms. &nbsp;</p>
<p>6.2.&nbsp;You&nbsp;agree&nbsp;to&nbsp;provide&nbsp;correct&nbsp;and&nbsp;accurate&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card&nbsp;details&nbsp;to&nbsp;the&nbsp;approved&nbsp;payment&nbsp;gateway&nbsp;</p>
<p>for&nbsp;availing&nbsp;Services.&nbsp;You&nbsp;shall&nbsp;not&nbsp;use&nbsp;the&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card&nbsp;which&nbsp;is&nbsp;not&nbsp;lawfully&nbsp;owned&nbsp;by&nbsp;You,&nbsp;i.e.&nbsp;in&nbsp;</p>
<p>any&nbsp;transaction,&nbsp;You&nbsp;must&nbsp;use&nbsp;Your&nbsp;own&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card.&nbsp;The&nbsp;information&nbsp;provided&nbsp;by&nbsp;You&nbsp;will&nbsp;not&nbsp;be&nbsp;</p>
<p>utilized&nbsp;or&nbsp;shared&nbsp;with&nbsp;any&nbsp;third&nbsp;party&nbsp;unless&nbsp;required&nbsp;in&nbsp;relation&nbsp;to&nbsp;fraud&nbsp;verifications&nbsp;or&nbsp;by&nbsp;law,&nbsp;</p>
<p>regulation&nbsp;or&nbsp;court&nbsp;order.&nbsp;You&nbsp;will&nbsp;be&nbsp;solely&nbsp;responsible&nbsp;for&nbsp;the&nbsp;security&nbsp;and&nbsp;confidentiality&nbsp;of&nbsp;Your&nbsp;credit&nbsp;</p>
<p>/&nbsp;debit&nbsp;card&nbsp;details.&nbsp;FitnessPapa&nbsp;expressly&nbsp;disclaims&nbsp;all&nbsp;liabilities&nbsp;that&nbsp;may&nbsp;arise&nbsp;as&nbsp;a&nbsp;consequence&nbsp;of&nbsp;any&nbsp;</p>
<p>unauthorized&nbsp;use&nbsp;of&nbsp;Your&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card.&nbsp;</p>
<p>6.3.&nbsp;FitnessPapa&nbsp;shall&nbsp;be&nbsp;under&nbsp;no&nbsp;liability&nbsp;whatsoever&nbsp;in&nbsp;respect&nbsp;of&nbsp;any&nbsp;loss&nbsp;or&nbsp;damage&nbsp;arising&nbsp;directly&nbsp;or&nbsp;</p>
<p>indirectly&nbsp;out&nbsp;of&nbsp;the&nbsp;decof&nbsp;authorization&nbsp;for&nbsp;any&nbsp;transaction&nbsp;for&nbsp;any&nbsp;reason&nbsp;whatsoever.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">7.&nbsp;CREDIT&nbsp;CARD&nbsp;DETAILS&nbsp;</span></p>
<p>&nbsp;</p>
<p>You&nbsp;might&nbsp;be&nbsp;required&nbsp;to&nbsp;provide&nbsp;Your&nbsp;credit&nbsp;or&nbsp;debit&nbsp;card&nbsp;details&nbsp;to&nbsp;the&nbsp;approved&nbsp;payment&nbsp;gateways&nbsp;while&nbsp;</p>
<p>making&nbsp;the&nbsp;payment.&nbsp;In&nbsp;this&nbsp;regard&nbsp;You&nbsp;agree&nbsp;to&nbsp;provide&nbsp;correct&nbsp;and&nbsp;accurate&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card&nbsp;details&nbsp;to&nbsp;</p>
<p>the&nbsp;approved&nbsp;payment&nbsp;gateways&nbsp;for&nbsp;availing&nbsp;Services&nbsp;on&nbsp;the&nbsp;Website.&nbsp;You&nbsp;shall&nbsp;not&nbsp;use&nbsp;the&nbsp;credit&nbsp;/&nbsp;debit&nbsp;</p>
<p>card&nbsp;that&nbsp;is&nbsp;not&nbsp;lawfully&nbsp;owned&nbsp;by&nbsp;You.&nbsp;The&nbsp;information&nbsp;provided&nbsp;by&nbsp;You&nbsp;will&nbsp;not&nbsp;be&nbsp;utilized&nbsp;or&nbsp;shared&nbsp;</p>
<p>with&nbsp;any&nbsp;third&nbsp;party&nbsp;unless&nbsp;required&nbsp;in&nbsp;relation&nbsp;to&nbsp;fraud&nbsp;verifications&nbsp;or&nbsp;by&nbsp;law,&nbsp;regulation&nbsp;or&nbsp;court&nbsp;order.&nbsp;</p>
<p>You&nbsp;will&nbsp;be&nbsp;solely&nbsp;responsible&nbsp;for&nbsp;the&nbsp;security&nbsp;and&nbsp;confidentiality&nbsp;of&nbsp;Your&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card&nbsp;details.&nbsp;</p>
<p>Fitness&nbsp;Papa&nbsp;expressly&nbsp;disclaims&nbsp;all&nbsp;liabilities&nbsp;that&nbsp;may&nbsp;arise&nbsp;as&nbsp;a&nbsp;consequence&nbsp;of&nbsp;any&nbsp;unauthorized&nbsp;use&nbsp;of&nbsp;</p>
<p>Your&nbsp;credit&nbsp;/&nbsp;debit&nbsp;card&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">8.&nbsp;USER&nbsp;OBLIGATIONS&nbsp;</span></p>
<p>&nbsp;</p>
<p>8.1.&nbsp;Subject&nbsp;to&nbsp;compliance&nbsp;with&nbsp;the&nbsp;<em>Terms&nbsp;of&nbsp;Use</em>,&nbsp;FitnessPapa&nbsp;grants&nbsp;You&nbsp;a&nbsp;non-exclusive,&nbsp;limited&nbsp;</p>
<p>privilege&nbsp;to&nbsp;access&nbsp;and&nbsp;use&nbsp;this&nbsp;Website.&nbsp;</p>
<p>8.2.&nbsp;You&nbsp;agree&nbsp;to&nbsp;use&nbsp;the&nbsp;Services,&nbsp;Website&nbsp;and&nbsp;the&nbsp;services&nbsp;provided&nbsp;therein&nbsp;only&nbsp;for&nbsp;purposes&nbsp;that&nbsp;are&nbsp;</p>
<p>permitted&nbsp;by:&nbsp;(a)&nbsp;the&nbsp;Terms;&nbsp;and&nbsp;(b)&nbsp;any&nbsp;applicable&nbsp;law,&nbsp;regulation&nbsp;or&nbsp;generally&nbsp;accepted&nbsp;practices&nbsp;or&nbsp;guide&nbsp;</p>
<p>in&nbsp;the&nbsp;relevant&nbsp;jurisdictions.&nbsp;</p>
<p>8.3.&nbsp;You&nbsp;agree&nbsp;to&nbsp;adhere&nbsp;to&nbsp;all&nbsp;limitations&nbsp;on&nbsp;dissemination,&nbsp;use&nbsp;and&nbsp;reproduction&nbsp;of&nbsp;any&nbsp;services&nbsp;(such&nbsp;as&nbsp;</p>
<p>the&nbsp;centers&nbsp;lists)&nbsp;that&nbsp;You&nbsp;will&nbsp;access&nbsp;the&nbsp;Website&nbsp;in&nbsp;accordance&nbsp;with&nbsp;the&nbsp;Terms&nbsp;and&nbsp;particularly&nbsp;Section&nbsp;8.&nbsp;</p>
<p>8.4.&nbsp;You&nbsp;agree&nbsp;not&nbsp;to&nbsp;access&nbsp;(or&nbsp;attempt&nbsp;to&nbsp;access)&nbsp;the&nbsp;Website&nbsp;and&nbsp;the&nbsp;materials&nbsp;or&nbsp;Services&nbsp;by&nbsp;any&nbsp;means&nbsp;</p>
<p>other&nbsp;than&nbsp;through&nbsp;the&nbsp;interface&nbsp;that&nbsp;is&nbsp;provided&nbsp;by&nbsp;FitnessPapa.&nbsp;You&nbsp;shall&nbsp;not&nbsp;use&nbsp;any&nbsp;deep-link,&nbsp;robot,&nbsp;</p>
<p>spider&nbsp;or&nbsp;other&nbsp;automatic&nbsp;device,&nbsp;program,&nbsp;algorithm&nbsp;or&nbsp;methodology,&nbsp;or&nbsp;any&nbsp;similar&nbsp;or&nbsp;equivalent&nbsp;manual&nbsp;</p>
<p>process,&nbsp;to&nbsp;access,&nbsp;acquire,&nbsp;copy&nbsp;or&nbsp;monitor&nbsp;any&nbsp;portion&nbsp;of&nbsp;the&nbsp;Website&nbsp;or&nbsp;Content&nbsp;(as&nbsp;defined&nbsp;below),&nbsp;or&nbsp;</p>
<p>in&nbsp;any&nbsp;way&nbsp;reproduce&nbsp;or&nbsp;circumvent&nbsp;the&nbsp;navigational&nbsp;structure&nbsp;or&nbsp;presentation&nbsp;of&nbsp;the&nbsp;Website,&nbsp;materials&nbsp;or&nbsp;</p>
<p>any&nbsp;Content,&nbsp;to&nbsp;obtain&nbsp;or&nbsp;attempt&nbsp;to&nbsp;obtain&nbsp;any&nbsp;materials,&nbsp;documents&nbsp;or&nbsp;information&nbsp;through&nbsp;any&nbsp;means&nbsp;</p>
<p>not&nbsp;specifically&nbsp;made&nbsp;available&nbsp;through&nbsp;the&nbsp;Website.&nbsp;</p>
<p>8.5.&nbsp;By&nbsp;accessing&nbsp;or&nbsp;using&nbsp;the&nbsp;Website&nbsp;or&nbsp;Services,&nbsp;You&nbsp;may&nbsp;be&nbsp;exposed&nbsp;to&nbsp;content&nbsp;from&nbsp;other&nbsp;users&nbsp;that&nbsp;</p>
<p>You&nbsp;may&nbsp;consider&nbsp;offensive,&nbsp;indecent&nbsp;or&nbsp;otherwise&nbsp;objectionable.&nbsp;FitnessPapa&nbsp;disclaims&nbsp;all&nbsp;liabilities&nbsp;</p>
<p>arising&nbsp;in&nbsp;relation&nbsp;to&nbsp;such&nbsp;offensive&nbsp;content&nbsp;on&nbsp;the&nbsp;Website.&nbsp;Further,&nbsp;You&nbsp;may&nbsp;report&nbsp;such&nbsp;offensive&nbsp;</p>
<p>content&nbsp;in&nbsp;the&nbsp;manner&nbsp;prescribed&nbsp;below&nbsp;</p>
<p>8.6.&nbsp;If&nbsp;the&nbsp;Website&nbsp;allows&nbsp;You&nbsp;to&nbsp;post&nbsp;and&nbsp;upload&nbsp;any&nbsp;material&nbsp;on&nbsp;the&nbsp;Website,&nbsp;You&nbsp;hereby&nbsp;undertake&nbsp;to&nbsp;</p>
<p>ensure&nbsp;that&nbsp;such&nbsp;material&nbsp;is&nbsp;not&nbsp;offensive&nbsp;and&nbsp;is&nbsp;in&nbsp;accordance&nbsp;with&nbsp;applicable&nbsp;laws.&nbsp;Further,&nbsp;You&nbsp;undertake&nbsp;</p>
<p>not&nbsp;to:&nbsp;</p>
<p>○Defame,&nbsp;abuse,&nbsp;harass,&nbsp;threaten&nbsp;or&nbsp;otherwise&nbsp;violate&nbsp;the&nbsp;legal&nbsp;rights&nbsp;of&nbsp;others;&nbsp;</p>
<p>○Impersonate&nbsp;any&nbsp;person&nbsp;or&nbsp;entity,&nbsp;or&nbsp;falsely&nbsp;state&nbsp;or&nbsp;otherwise&nbsp;misrepresent&nbsp;Your&nbsp;affiliation&nbsp;with&nbsp;a&nbsp;</p>
<p>person&nbsp;or&nbsp;entity;&nbsp;</p>
<p>○Publish,&nbsp;post,&nbsp;upload,&nbsp;distribute&nbsp;or&nbsp;disseminate&nbsp;any&nbsp;inappropriate,&nbsp;profane,&nbsp;defamatory,&nbsp;infringing,&nbsp;</p>
<p>obscene,&nbsp;indecent&nbsp;or&nbsp;unlawful&nbsp;topic,&nbsp;name,&nbsp;material&nbsp;or&nbsp;information&nbsp;through&nbsp;any&nbsp;bookmark,&nbsp;tag&nbsp;or&nbsp;</p>
<p>keyword;&nbsp;</p>
<p>○Upload&nbsp;files&nbsp;that&nbsp;contain&nbsp;software&nbsp;or&nbsp;other&nbsp;material&nbsp;protected&nbsp;by&nbsp;applicable&nbsp;intellectual&nbsp;property&nbsp;</p>
<p>laws&nbsp;unless&nbsp;You&nbsp;own&nbsp;or&nbsp;control&nbsp;the&nbsp;rights&nbsp;thereto&nbsp;or&nbsp;have&nbsp;received&nbsp;all&nbsp;necessary&nbsp;consents;&nbsp;</p>
<p>○Upload&nbsp;or&nbsp;distribute&nbsp;files&nbsp;that&nbsp;contain&nbsp;viruses,&nbsp;corrupted&nbsp;files,&nbsp;or&nbsp;any&nbsp;other&nbsp;similar&nbsp;software&nbsp;or&nbsp;</p>
<p>programs&nbsp;that&nbsp;may&nbsp;damage&nbsp;the&nbsp;operation&nbsp;of&nbsp;the&nbsp;Website&nbsp;or&nbsp;another&#39;s&nbsp;computer;&nbsp;</p>
<p>○Engage&nbsp;in&nbsp;any&nbsp;activity&nbsp;that&nbsp;interferes&nbsp;with&nbsp;or&nbsp;disrupts&nbsp;access&nbsp;to&nbsp;the&nbsp;Website&nbsp;or&nbsp;the&nbsp;Services&nbsp;(or&nbsp;the&nbsp;</p>
<p>servers&nbsp;and&nbsp;networks&nbsp;which&nbsp;are&nbsp;connected&nbsp;to&nbsp;the&nbsp;Website);&nbsp;</p>
<p>○Attempt&nbsp;to&nbsp;gain&nbsp;unauthorized&nbsp;access&nbsp;to&nbsp;any&nbsp;portion&nbsp;or&nbsp;feature&nbsp;of&nbsp;the&nbsp;Website,&nbsp;any&nbsp;other&nbsp;systems&nbsp;</p>
<p>or&nbsp;networks&nbsp;connected&nbsp;to&nbsp;the&nbsp;Website,&nbsp;to&nbsp;any&nbsp;FitnessPapas&nbsp;erver,&nbsp;or&nbsp;to&nbsp;any&nbsp;of&nbsp;the&nbsp;Services&nbsp;offered&nbsp;</p>
<p>on&nbsp;or&nbsp;through&nbsp;the&nbsp;Website,&nbsp;by&nbsp;any&nbsp;illegitimate&nbsp;means&nbsp;(including&nbsp;such&nbsp;as&nbsp;hacking&nbsp;and&nbsp;password&nbsp;</p>
<p>mining);&nbsp;</p>
<p>○Probe,&nbsp;scan&nbsp;or&nbsp;test&nbsp;the&nbsp;vulnerability&nbsp;of&nbsp;the&nbsp;Website&nbsp;or&nbsp;any&nbsp;network&nbsp;connected&nbsp;to&nbsp;the&nbsp;Website,&nbsp;nor&nbsp;</p>
<p>breach&nbsp;the&nbsp;security&nbsp;or&nbsp;authentication&nbsp;measures&nbsp;on&nbsp;the&nbsp;Website&nbsp;or&nbsp;any&nbsp;network&nbsp;connected&nbsp;to&nbsp;the&nbsp;</p>
<p>Website.&nbsp;You&nbsp;may&nbsp;not&nbsp;reverse&nbsp;look-up,&nbsp;trace&nbsp;or&nbsp;seek&nbsp;to&nbsp;trace&nbsp;any&nbsp;information&nbsp;on&nbsp;any&nbsp;other&nbsp;user,&nbsp;of&nbsp;</p>
<p>or&nbsp;visitor&nbsp;to,&nbsp;the&nbsp;Website,&nbsp;or&nbsp;any&nbsp;other&nbsp;customer&nbsp;of&nbsp;FitnessPapa,&nbsp;including&nbsp;any&nbsp;FitnessPapa&nbsp;</p>
<p>Account&nbsp;not&nbsp;owned&nbsp;by&nbsp;You,&nbsp;to&nbsp;its&nbsp;source,&nbsp;or&nbsp;exploit&nbsp;the&nbsp;Website&nbsp;or&nbsp;Service&nbsp;or&nbsp;information&nbsp;made&nbsp;</p>
<p>available&nbsp;or&nbsp;offered&nbsp;by&nbsp;or&nbsp;through&nbsp;the&nbsp;Website,&nbsp;in&nbsp;any&nbsp;way&nbsp;whether&nbsp;or&nbsp;not&nbsp;the&nbsp;purpose&nbsp;is&nbsp;to&nbsp;reveal&nbsp;</p>
<p>any&nbsp;information,&nbsp;including&nbsp;but&nbsp;not&nbsp;limited&nbsp;to&nbsp;personal&nbsp;identification&nbsp;information;&nbsp;</p>
<p>○Disrupt&nbsp;or&nbsp;interfere&nbsp;with&nbsp;the&nbsp;security&nbsp;of,&nbsp;or&nbsp;otherwise&nbsp;cause&nbsp;harm&nbsp;to,&nbsp;the&nbsp;Website,&nbsp;systems&nbsp;</p>
<p>resources,&nbsp;accounts,&nbsp;passwords,&nbsp;servers&nbsp;or&nbsp;networks&nbsp;connected&nbsp;to&nbsp;or&nbsp;accessible&nbsp;through&nbsp;the&nbsp;</p>
<p>Websites&nbsp;or&nbsp;any&nbsp;affiliated&nbsp;or&nbsp;linked&nbsp;sites;&nbsp;</p>
<p>○Collect&nbsp;or&nbsp;store&nbsp;data&nbsp;about&nbsp;other&nbsp;users.&nbsp;</p>
<p>○Use&nbsp;any&nbsp;device&nbsp;or&nbsp;software&nbsp;to&nbsp;interfere&nbsp;or&nbsp;attempt&nbsp;to&nbsp;interfere&nbsp;with&nbsp;the&nbsp;proper&nbsp;working&nbsp;of&nbsp;the&nbsp;</p>
<p>Website&nbsp;or&nbsp;any&nbsp;transaction&nbsp;being&nbsp;conducted&nbsp;on&nbsp;the&nbsp;Website,&nbsp;or&nbsp;with&nbsp;any&nbsp;other&nbsp;person&#39;s&nbsp;use&nbsp;of&nbsp;the&nbsp;</p>
<p>Website;&nbsp;</p>
<p>○Use&nbsp;the&nbsp;Website&nbsp;or&nbsp;any&nbsp;material&nbsp;or&nbsp;Content&nbsp;for&nbsp;any&nbsp;purpose&nbsp;that&nbsp;is&nbsp;unlawful&nbsp;or&nbsp;prohibited&nbsp;by&nbsp;the&nbsp;</p>
<p>Terms,&nbsp;or&nbsp;to&nbsp;solicit&nbsp;the&nbsp;performance&nbsp;of&nbsp;any&nbsp;illegal&nbsp;activity&nbsp;or&nbsp;other&nbsp;activity&nbsp;which&nbsp;infringes&nbsp;the&nbsp;</p>
<p>rights&nbsp;of&nbsp;FitnessPapa&nbsp;or&nbsp;other&nbsp;third&nbsp;parties;&nbsp;</p>
<p>○Conduct&nbsp;or&nbsp;forward&nbsp;surveys,&nbsp;contests,&nbsp;pyramid&nbsp;schemes&nbsp;or&nbsp;chain&nbsp;letters;&nbsp;</p>
<p>○Download&nbsp;any&nbsp;file&nbsp;posted&nbsp;by&nbsp;another&nbsp;user&nbsp;of&nbsp;a&nbsp;Service&nbsp;that&nbsp;you&nbsp;know,&nbsp;or&nbsp;reasonably&nbsp;should&nbsp;know,&nbsp;</p>
<p>cannot&nbsp;be&nbsp;legally&nbsp;distributed&nbsp;in&nbsp;such&nbsp;manner;&nbsp;</p>
<p>○Falsify&nbsp;or&nbsp;delete&nbsp;any&nbsp;author&nbsp;attributions,&nbsp;legal&nbsp;or&nbsp;other&nbsp;proper&nbsp;notices&nbsp;or&nbsp;proprietary&nbsp;designations&nbsp;</p>
<p>or&nbsp;labels&nbsp;of&nbsp;the&nbsp;origin&nbsp;or&nbsp;source&nbsp;of&nbsp;software&nbsp;or&nbsp;other&nbsp;material&nbsp;contained&nbsp;in&nbsp;a&nbsp;file&nbsp;that&nbsp;is&nbsp;uploaded;&nbsp;</p>
<p>○Violate&nbsp;any&nbsp;code&nbsp;of&nbsp;conduct&nbsp;or&nbsp;other&nbsp;guide,&nbsp;which&nbsp;may&nbsp;be&nbsp;applicable&nbsp;to&nbsp;the&nbsp;Service;&nbsp;</p>
<p>○Violate&nbsp;any&nbsp;applicable&nbsp;laws&nbsp;or&nbsp;regulations&nbsp;for&nbsp;the&nbsp;time&nbsp;being&nbsp;in&nbsp;force&nbsp;within&nbsp;or&nbsp;outside&nbsp;India;&nbsp;</p>
<p>○Violate&nbsp;the&nbsp;<em>Terms</em>&nbsp;including&nbsp;but&nbsp;not&nbsp;limited&nbsp;to&nbsp;any&nbsp;applicable&nbsp;Additional&nbsp;Terms;&nbsp;and&nbsp;</p>
<p>○Reverse&nbsp;engineer,&nbsp;modify,&nbsp;copy,&nbsp;distribute,&nbsp;transmit,&nbsp;display,&nbsp;perform,&nbsp;reproduce,&nbsp;publish,&nbsp;license,&nbsp;</p>
<p>create&nbsp;derivative&nbsp;works&nbsp;from,&nbsp;transfer,&nbsp;or&nbsp;sell&nbsp;any&nbsp;information&nbsp;or&nbsp;software&nbsp;obtained&nbsp;from&nbsp;the&nbsp;</p>
<p>Website.&nbsp;</p>
<p>8.7.&nbsp;You&nbsp;agree&nbsp;that&nbsp;You&nbsp;are&nbsp;solely&nbsp;responsible&nbsp;to&nbsp;FitnessPapa&nbsp;and&nbsp;to&nbsp;any&nbsp;third&nbsp;party&nbsp;for&nbsp;any&nbsp;breach&nbsp;of&nbsp;Your&nbsp;</p>
<p>obligations&nbsp;under&nbsp;the&nbsp;Terms&nbsp;and&nbsp;for&nbsp;the&nbsp;consequences&nbsp;(including&nbsp;any&nbsp;loss&nbsp;or&nbsp;damage&nbsp;which&nbsp;FitnessPapa&nbsp;or&nbsp;</p>
<p>its&nbsp;affiliates&nbsp;or&nbsp;its&nbsp;vendors&nbsp;may&nbsp;suffer)&nbsp;for&nbsp;any&nbsp;such&nbsp;breach.&nbsp;</p>
<p>8.8.&nbsp;You&nbsp;agree&nbsp;and&nbsp;acknowledge&nbsp;that&nbsp;FitnessPapa&nbsp;is&nbsp;not&nbsp;the&nbsp;seller&nbsp;of&nbsp;the&nbsp;products&nbsp;and&nbsp;services&nbsp;and&nbsp;</p>
<p>FitnessPapa&nbsp;shall&nbsp;in&nbsp;no&nbsp;manner&nbsp;be&nbsp;deemed&nbsp;to&nbsp;be&nbsp;the&nbsp;seller&nbsp;of&nbsp;the&nbsp;services.&nbsp;FitnessPapa&nbsp;is&nbsp;only&nbsp;facilitating&nbsp;</p>
<p>purchase&nbsp;of&nbsp;services&nbsp;by&nbsp;You&nbsp;from&nbsp;Vendors.&nbsp;FitnessPapa&nbsp;does&nbsp;not&nbsp;guarantee&nbsp;or&nbsp;provide&nbsp;any&nbsp;warranties&nbsp;</p>
<p>relating&nbsp;to&nbsp;the&nbsp;Vendors&nbsp;or&nbsp;services&nbsp;offered&nbsp;by&nbsp;them.&nbsp;The&nbsp;Website&nbsp;is&nbsp;a&nbsp;market-place&nbsp;where&nbsp;buyers&nbsp;and&nbsp;</p>
<p>sellers&nbsp;of&nbsp;goods&nbsp;and&nbsp;services&nbsp;may&nbsp;transact.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color: rgb(255, 165, 0);">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Intellectual&nbsp;property&nbsp;</span></p>
<p>&nbsp;</p>
<p>9.1.&nbsp;The&nbsp;rights&nbsp;granted&nbsp;to&nbsp;You&nbsp;as&nbsp;specified&nbsp;above&nbsp;are&nbsp;not&nbsp;applicable&nbsp;to&nbsp;the&nbsp;design,&nbsp;layout&nbsp;or&nbsp;look&nbsp;and&nbsp;feel&nbsp;</p>
<p>of&nbsp;the&nbsp;Website.&nbsp;Such&nbsp;elements&nbsp;of&nbsp;the&nbsp;Website&nbsp;are&nbsp;protected&nbsp;by&nbsp;intellectual&nbsp;property&nbsp;rights&nbsp;and&nbsp;may&nbsp;not&nbsp;be&nbsp;</p>
<p>copied&nbsp;or&nbsp;imitated&nbsp;in&nbsp;whole&nbsp;or&nbsp;in&nbsp;part.&nbsp;The&nbsp;service&nbsp;catalogues&nbsp;or&nbsp;any&nbsp;other&nbsp;materials&nbsp;available&nbsp;on&nbsp;the&nbsp;</p>
<p>Website&nbsp;may&nbsp;be&nbsp;copied&nbsp;or&nbsp;retransmitted&nbsp;unless&nbsp;expressly&nbsp;prohibited&nbsp;by&nbsp;FitnessPapa.&nbsp;</p>
<p>9.2.&nbsp;Any&nbsp;software&nbsp;that&nbsp;is&nbsp;available&nbsp;on&nbsp;the&nbsp;Website&nbsp;is&nbsp;the&nbsp;property&nbsp;of&nbsp;FitnessPapa&nbsp;or&nbsp;its&nbsp;vendors.&nbsp;You&nbsp;may&nbsp;</p>
<p>not&nbsp;use,&nbsp;download&nbsp;or&nbsp;install&nbsp;any&nbsp;software&nbsp;available&nbsp;at&nbsp;the&nbsp;Website,&nbsp;unless&nbsp;otherwise&nbsp;expressly&nbsp;permitted&nbsp;by&nbsp;</p>
<p>FitnessPapa.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">10.&nbsp;USAGE&nbsp;CONDUCT&nbsp;</span></p>
<p>&nbsp;</p>
<p>10.1.&nbsp;You&nbsp;shall&nbsp;solely&nbsp;be&nbsp;responsible&nbsp;for&nbsp;maintaining&nbsp;the&nbsp;necessary&nbsp;computer&nbsp;equipment&rsquo;s&nbsp;and&nbsp;Internet&nbsp;</p>
<p>connections&nbsp;that&nbsp;may&nbsp;be&nbsp;required&nbsp;to&nbsp;access,&nbsp;use&nbsp;and&nbsp;transact&nbsp;on&nbsp;the&nbsp;Website.&nbsp;</p>
<p>10.2.&nbsp;You&nbsp;shall&nbsp;use&nbsp;this&nbsp;Website&nbsp;for&nbsp;reasonable&nbsp;and&nbsp;lawful&nbsp;purposes&nbsp;only,&nbsp;and&nbsp;shall&nbsp;not&nbsp;indulge&nbsp;in&nbsp;any&nbsp;</p>
<p>activity&nbsp;that&nbsp;is&nbsp;not&nbsp;envisaged&nbsp;through&nbsp;the&nbsp;Website.&nbsp;</p>
<p>10.3.&nbsp;FitnessPapa&nbsp;shall&nbsp;be&nbsp;under&nbsp;no&nbsp;liability&nbsp;whatsoever&nbsp;in&nbsp;respect&nbsp;of&nbsp;any&nbsp;loss&nbsp;or&nbsp;damage&nbsp;arising&nbsp;directly&nbsp;or&nbsp;</p>
<p>indirectly&nbsp;out&nbsp;of&nbsp;the&nbsp;decof&nbsp;authorization&nbsp;for&nbsp;any&nbsp;transaction&nbsp;for&nbsp;any&nbsp;reason&nbsp;whatsoever.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">11.&nbsp;INTELLECTUAL&nbsp;PROPERTY&nbsp;RIGHTS&nbsp;</span></p>
<p>&nbsp;</p>
<p>11.1.&nbsp;The&nbsp;Website&nbsp;and&nbsp;the&nbsp;processes,&nbsp;and&nbsp;their&nbsp;selection&nbsp;and&nbsp;arrangement,&nbsp;including&nbsp;but&nbsp;not&nbsp;limited&nbsp;to&nbsp;all&nbsp;</p>
<p>text,&nbsp;graphics,&nbsp;user&nbsp;interfaces,&nbsp;visual&nbsp;interfaces,&nbsp;sounds&nbsp;and&nbsp;music&nbsp;(if&nbsp;any),&nbsp;artwork&nbsp;and&nbsp;computer&nbsp;code&nbsp;</p>
<p>(collectively,&nbsp;the&nbsp;&quot;<strong>Content</strong>&quot;)&nbsp;on&nbsp;the&nbsp;Website&nbsp;is&nbsp;owned&nbsp;and&nbsp;controlled&nbsp;by&nbsp;FitnessPapa&nbsp;and&nbsp;the&nbsp;design,&nbsp;</p>
<p>structure,&nbsp;selection,&nbsp;coordination,&nbsp;expression,&nbsp;look&nbsp;and&nbsp;feel&nbsp;and&nbsp;arrangement&nbsp;of&nbsp;such&nbsp;Content&nbsp;is&nbsp;protected&nbsp;</p>
<p>by&nbsp;copyright,&nbsp;patent&nbsp;and&nbsp;trademark&nbsp;laws,&nbsp;and&nbsp;various&nbsp;other&nbsp;intellectual&nbsp;property&nbsp;rights.&nbsp;</p>
<p>11.2.&nbsp;The&nbsp;trademarks,&nbsp;logos&nbsp;and&nbsp;service&nbsp;marks&nbsp;displayed&nbsp;on&nbsp;the&nbsp;Website&nbsp;(&quot;<strong>Marks</strong>&quot;)&nbsp;are&nbsp;the&nbsp;property&nbsp;of&nbsp;</p>
<p>FitnessPapa&nbsp;or&nbsp;other&nbsp;third&nbsp;parties.&nbsp;You&nbsp;are&nbsp;not&nbsp;permitted&nbsp;to&nbsp;use&nbsp;the&nbsp;Marks&nbsp;without&nbsp;the&nbsp;prior&nbsp;consent&nbsp;of&nbsp;</p>
<p>FitnessPapa&nbsp;or&nbsp;the&nbsp;third&nbsp;party&nbsp;that&nbsp;owns&nbsp;the&nbsp;Marks.&nbsp;</p>
<p>11.3.&nbsp;FitnessPapa&nbsp;owns&nbsp;all&nbsp;intellectual&nbsp;property&nbsp;rights&nbsp;to&nbsp;the&nbsp;trademark&nbsp;&quot;FitnessPapa&quot;&nbsp;and&nbsp;variants&nbsp;thereof,&nbsp;</p>
<p>and&nbsp;the&nbsp;domain&nbsp;name,&nbsp;including,&nbsp;without&nbsp;limitation,&nbsp;any&nbsp;and&nbsp;all&nbsp;rights,&nbsp;title&nbsp;and&nbsp;interest&nbsp;in&nbsp;and&nbsp;to&nbsp;</p>
<p>copyright,&nbsp;related&nbsp;rights,&nbsp;patents,&nbsp;utility&nbsp;models,&nbsp;designs,&nbsp;know-how,&nbsp;trade&nbsp;secrets&nbsp;and&nbsp;inventions&nbsp;(patent&nbsp;</p>
<p>pending),&nbsp;goodwill,&nbsp;source&nbsp;code,&nbsp;meta&nbsp;tags,&nbsp;databases,&nbsp;text,&nbsp;content,&nbsp;graphics,&nbsp;icons,&nbsp;and&nbsp;hyperlinks.&nbsp;</p>
<p>11.4.&nbsp;Except&nbsp;as&nbsp;expressly&nbsp;provided&nbsp;herein,&nbsp;You&nbsp;acknowledge&nbsp;and&nbsp;agree&nbsp;that&nbsp;You&nbsp;shall&nbsp;not&nbsp;copy,&nbsp;republish,&nbsp;</p>
<p>post,&nbsp;display,&nbsp;translate,&nbsp;transmit,&nbsp;reproduce&nbsp;or&nbsp;distribute&nbsp;any&nbsp;Content&nbsp;through&nbsp;any&nbsp;medium&nbsp;without&nbsp;</p>
<p>obtaining&nbsp;the&nbsp;necessary&nbsp;authorization&nbsp;from&nbsp;FitnessPapa&nbsp;or&nbsp;thirty&nbsp;party&nbsp;owner&nbsp;of&nbsp;such&nbsp;Content.&nbsp;</p>
<p>11.5.&nbsp;The&nbsp;Website&nbsp;makes&nbsp;available&nbsp;general&nbsp;third&nbsp;party&nbsp;information&nbsp;such&nbsp;as,&nbsp;service&nbsp;catalogues,&nbsp;lists&nbsp;of&nbsp;</p>
<p>authorized&nbsp;dealers,&nbsp;reports&nbsp;on&nbsp;news,&nbsp;entertainment,&nbsp;technology&nbsp;and&nbsp;features,&nbsp;advertisements&nbsp;including&nbsp;</p>
<p>videos,&nbsp;images&nbsp;and&nbsp;photographs&nbsp;of&nbsp;the&nbsp;services&nbsp;and&nbsp;other&nbsp;data&nbsp;from&nbsp;external&nbsp;sources&nbsp;(&quot;<strong>Third&nbsp;Party&nbsp;</strong></p>
<p><strong>Content</strong>&quot;).&nbsp;Similar&nbsp;Third&nbsp;Party&nbsp;Content&nbsp;would&nbsp;also&nbsp;be&nbsp;available&nbsp;to&nbsp;You&nbsp;on&nbsp;the&nbsp;email&nbsp;received&nbsp;by&nbsp;You&nbsp;from&nbsp;</p>
<p>FitnessPapa.&nbsp;The&nbsp;provision&nbsp;of&nbsp;Third&nbsp;Party&nbsp;Content&nbsp;is&nbsp;for&nbsp;general&nbsp;informational&nbsp;purposes&nbsp;only.&nbsp;You&nbsp;</p>
<p>acknowledge&nbsp;that&nbsp;the&nbsp;Third&nbsp;Party&nbsp;Content&nbsp;provided&nbsp;to&nbsp;You&nbsp;is&nbsp;obtained&nbsp;from&nbsp;sources&nbsp;believed&nbsp;to&nbsp;be&nbsp;reliable.&nbsp;</p>
<p>FitnessPapa&nbsp;does&nbsp;not&nbsp;provide&nbsp;any&nbsp;guarantee&nbsp;with&nbsp;respect&nbsp;to&nbsp;any&nbsp;the&nbsp;Third&nbsp;Party&nbsp;Content&nbsp;and&nbsp;FitnessPapa&nbsp;</p>
<p>shall&nbsp;not&nbsp;be&nbsp;held&nbsp;liable&nbsp;for&nbsp;any&nbsp;loss&nbsp;suffered&nbsp;by&nbsp;You&nbsp;due&nbsp;to&nbsp;Your&nbsp;reliance&nbsp;on&nbsp;or&nbsp;use&nbsp;of&nbsp;such&nbsp;data.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">12.&nbsp;DISCLAIMER&nbsp;OF&nbsp;WARRANTIES&nbsp;&amp;&nbsp;LIABILITY&nbsp;</span></p>
<p>&nbsp;</p>
<p>12.1&nbsp;YOU&nbsp;EXPRESSLY&nbsp;UNDERSTAND&nbsp;AND&nbsp;AGREE&nbsp;THAT,&nbsp;TO&nbsp;THE&nbsp;MAXIMUM&nbsp;EXTENT&nbsp;</p>
<p>PERMITTED&nbsp;BY&nbsp;APPLICABLE&nbsp;LAW:&nbsp;</p>
<p>12.2&nbsp;You&nbsp;agree&nbsp;to&nbsp;indemnify,&nbsp;defend&nbsp;and&nbsp;hold&nbsp;harmless&nbsp;FitnessPapa&nbsp;from&nbsp;and&nbsp;against&nbsp;any&nbsp;and&nbsp;all&nbsp;losses,&nbsp;</p>
<p>liabilities,&nbsp;claims,&nbsp;damages,&nbsp;demands,&nbsp;costs&nbsp;and&nbsp;expenses&nbsp;(including&nbsp;legal&nbsp;fees&nbsp;and&nbsp;disbursements&nbsp;in&nbsp;</p>
<p>connection&nbsp;therewith&nbsp;and&nbsp;interest&nbsp;chargeable&nbsp;thereon)&nbsp;asserted&nbsp;against&nbsp;or&nbsp;incurred&nbsp;by&nbsp;FitnessPapa&nbsp;that&nbsp;arise&nbsp;</p>
<p>out&nbsp;of,&nbsp;result&nbsp;from,&nbsp;or&nbsp;may&nbsp;be&nbsp;payable&nbsp;by&nbsp;virtue&nbsp;of,&nbsp;any&nbsp;breach&nbsp;of&nbsp;any&nbsp;representation,&nbsp;warranty,&nbsp;covenant&nbsp;</p>
<p>or&nbsp;agreement&nbsp;made&nbsp;or&nbsp;obligation&nbsp;to&nbsp;be&nbsp;performed&nbsp;by&nbsp;You&nbsp;pursuant&nbsp;to&nbsp;these&nbsp;Supply&nbsp;Terms&nbsp;or&nbsp;any&nbsp;</p>
<p>Additional&nbsp;Terms&nbsp;applicable&nbsp;to&nbsp;the&nbsp;purchase&nbsp;of&nbsp;Products.&nbsp;</p>
<p>12.3&nbsp;In&nbsp;no&nbsp;event&nbsp;shall&nbsp;FitnessPapa,&nbsp;its&nbsp;officers,&nbsp;directors,&nbsp;employees,&nbsp;partners&nbsp;or&nbsp;vendors&nbsp;be&nbsp;liable&nbsp;to&nbsp;You,&nbsp;</p>
<p>the&nbsp;Vendor&nbsp;or&nbsp;any&nbsp;third&nbsp;party&nbsp;for&nbsp;any&nbsp;special,&nbsp;incidental,&nbsp;indirect,&nbsp;consequential&nbsp;or&nbsp;punitive&nbsp;damages&nbsp;</p>
<p>whatsoever,&nbsp;including&nbsp;those&nbsp;resulting&nbsp;from&nbsp;loss&nbsp;of&nbsp;use,&nbsp;data&nbsp;or&nbsp;profits,&nbsp;whether&nbsp;or&nbsp;not&nbsp;foreseeable&nbsp;or&nbsp;</p>
<p>whether&nbsp;or&nbsp;not&nbsp;FitnessPapa&nbsp;has&nbsp;been&nbsp;advised&nbsp;of&nbsp;the&nbsp;possibility&nbsp;of&nbsp;such&nbsp;damages,&nbsp;or&nbsp;based&nbsp;on&nbsp;any&nbsp;theory&nbsp;of&nbsp;</p>
<p>liability,&nbsp;including&nbsp;breach&nbsp;of&nbsp;contract&nbsp;or&nbsp;warranty,&nbsp;negligence&nbsp;or&nbsp;other&nbsp;tortious&nbsp;action,&nbsp;or&nbsp;any&nbsp;other&nbsp;claim&nbsp;</p>
<p>arising&nbsp;out&nbsp;of&nbsp;or&nbsp;in&nbsp;connection&nbsp;with&nbsp;Your&nbsp;purchase&nbsp;of&nbsp;the&nbsp;products&nbsp;and&nbsp;services&nbsp;herein.&nbsp;Notwithstanding&nbsp;</p>
<p>anything&nbsp;to&nbsp;contrary,&nbsp;FitnessPapa&rsquo;s&nbsp;entire&nbsp;liability&nbsp;to&nbsp;You&nbsp;or&nbsp;otherwise&nbsp;shall&nbsp;be&nbsp;the&nbsp;refund&nbsp;of&nbsp;the&nbsp;money&nbsp;</p>
<p>charged&nbsp;from&nbsp;You,&nbsp;under&nbsp;which&nbsp;the&nbsp;unlikely&nbsp;liability&nbsp;arises.&nbsp;</p>
<p>12.4.&nbsp;FITNESSPAPA&nbsp;WILL&nbsp;NOT&nbsp;BE&nbsp;LIABLE&nbsp;FOR&nbsp;ANY&nbsp;LOSS&nbsp;THAT&nbsp;YOU&nbsp;MAY&nbsp;INCUR&nbsp;AS&nbsp;A&nbsp;</p>
<p>CONSEQUENCE&nbsp;OF&nbsp;UNAUTHORIZED&nbsp;USE&nbsp;OF&nbsp;YOUR&nbsp;ACCOUNT&nbsp;OR&nbsp;ACCOUNT&nbsp;INFORMATION&nbsp;</p>
<p>OR&nbsp;ANY&nbsp;SERVICES&nbsp;OR&nbsp;MATERIALS,&nbsp;EITHER&nbsp;WITH&nbsp;OR&nbsp;WITHOUT&nbsp;YOUR&nbsp;KNOWLEDGE.&nbsp;</p>
<p>FITNESSPAPA&nbsp;ENDEAVORS&nbsp;TO&nbsp;ENSURE&nbsp;THAT&nbsp;ALL&nbsp;THE&nbsp;INFORMATION&nbsp;ON&nbsp;THE&nbsp;WEBSITE&nbsp;IS&nbsp;</p>
<p>CORRECT,&nbsp;BUT&nbsp;FITNESSPAPA&nbsp;DOES&nbsp;NOT&nbsp;PROVIDE&nbsp;ANY&nbsp;WARRANTIES&nbsp;RELATING&nbsp;TO&nbsp;THE&nbsp;</p>
<p>QUALITY,&nbsp;ACCURACY&nbsp;OR&nbsp;COMPLETENESS&nbsp;OF&nbsp;ANY&nbsp;DATA,&nbsp;INFORMATION,&nbsp;PRODUCT&nbsp;OR&nbsp;</p>
<p>SERVICE.&nbsp;FITNESSPAPA&nbsp;SHALL&nbsp;NOT&nbsp;BE&nbsp;RESPONSIBLE&nbsp;FOR&nbsp;THE&nbsp;DELAY&nbsp;OR&nbsp;INABILITY&nbsp;TO&nbsp;</p>
<p>USE&nbsp;THE&nbsp;WEBSITE&nbsp;OR&nbsp;RELATED&nbsp;FUNCTIONALITIES,&nbsp;THE&nbsp;PROVISION&nbsp;OF&nbsp;OR&nbsp;FAILURE&nbsp;TO&nbsp;</p>
<p>PROVIDE&nbsp;FUNCTIONALITIES,&nbsp;OR&nbsp;FOR&nbsp;ANY&nbsp;INFORMATION,&nbsp;SOFTWARE,&nbsp;PRODUCTS,&nbsp;</p>
<p>FUNCTIONALITIES&nbsp;AND&nbsp;RELATED&nbsp;GRAPHICS&nbsp;OBTAINED&nbsp;THROUGH&nbsp;THE&nbsp;WEBSITE,&nbsp;OR&nbsp;</p>
<p>OTHERWISE&nbsp;ARISING&nbsp;OUT&nbsp;OF&nbsp;THE&nbsp;USE&nbsp;OF&nbsp;THE&nbsp;WEBSITE,&nbsp;WHETHER&nbsp;BASED&nbsp;ON&nbsp;</p>
<p>CONTRACT,&nbsp;TORT,&nbsp;NEGLIGENCE,&nbsp;STRICT&nbsp;LIABILITY&nbsp;OR&nbsp;OTHERWISE.&nbsp;FURTHER,&nbsp;</p>
<p>FITNESSPAPA&nbsp;SHALL&nbsp;NOT&nbsp;BE&nbsp;RESPONSIBLE&nbsp;FOR&nbsp;NON-AVAILABILITY&nbsp;OF&nbsp;THE&nbsp;WEBSITE&nbsp;</p>
<p>DURING&nbsp;PERIODIC&nbsp;MAINTENANCE&nbsp;OPERATIONS&nbsp;OR&nbsp;ANY&nbsp;UNPLANNED&nbsp;SUSPENSION&nbsp;OF&nbsp;</p>
<p>ACCESS&nbsp;TO&nbsp;THE&nbsp;WEBSITE&nbsp;THAT&nbsp;MAY&nbsp;OCCUR&nbsp;DUE&nbsp;TO&nbsp;TECHNICAL&nbsp;REASONS&nbsp;OR&nbsp;FOR&nbsp;ANY&nbsp;</p>
<p>REASON.&nbsp;THE&nbsp;USER&nbsp;UNDERSTANDS&nbsp;AND&nbsp;AGREES&nbsp;THAT&nbsp;ANY&nbsp;MATERIAL&nbsp;OR&nbsp;DATA&nbsp;</p>
<p>DOWNLOADED&nbsp;OR&nbsp;OTHERWISE&nbsp;OBTAINED&nbsp;THROUGH&nbsp;THE&nbsp;WEBSITE&nbsp;IS&nbsp;DONE&nbsp;ENTIRELY&nbsp;AT&nbsp;</p>
<p>THEIR&nbsp;OWN&nbsp;DISCRETION&nbsp;AND&nbsp;RISK&nbsp;AND&nbsp;THEY&nbsp;WILL&nbsp;BE&nbsp;SOLELY&nbsp;RESPONSIBLE&nbsp;FOR&nbsp;ANY&nbsp;</p>
<p>DAMAGE&nbsp;TO&nbsp;THEIR&nbsp;COMPUTER&nbsp;SYSTEMS&nbsp;OR&nbsp;LOSS&nbsp;OF&nbsp;DATA&nbsp;THAT&nbsp;RESULTS&nbsp;FROM&nbsp;THE&nbsp;</p>
<p>DOWNLOAD&nbsp;OF&nbsp;SUCH&nbsp;MATERIAL&nbsp;OR&nbsp;DATA.&nbsp;FITNESSPAPA&nbsp;IS&nbsp;NOT&nbsp;RESPONSIBLE&nbsp;FOR&nbsp;ANY&nbsp;</p>
<p>TYPOGRAPHICAL&nbsp;ERROR&nbsp;LEADING&nbsp;TO&nbsp;ANY&nbsp;INVALIDITY&nbsp;OF&nbsp;ANY&nbsp;KIND.&nbsp;FITNESSPAPA&nbsp;</p>
<p>ACCEPTS&nbsp;NO&nbsp;LIABILITY&nbsp;FOR&nbsp;ANY&nbsp;ERRORS&nbsp;OR&nbsp;OMISSIONS,&nbsp;WITH&nbsp;RESPECT&nbsp;TO&nbsp;ANY&nbsp;</p>
<p>INFORMATION&nbsp;PROVIDED&nbsp;TO&nbsp;YOU&nbsp;BY&nbsp;ITSELF&nbsp;OR&nbsp;ON&nbsp;BEHALF&nbsp;OF&nbsp;THIRD&nbsp;PARTIES.&nbsp;</p>
<p>12.5.&nbsp;FITNESSPAPA&nbsp;SHALL&nbsp;NOT&nbsp;BE&nbsp;LIABLE&nbsp;FOR&nbsp;ANY&nbsp;THIRD&nbsp;PARTY&nbsp;SERVICES.&nbsp;THE&nbsp;</p>
<p>ADVERTISEMENTS&nbsp;AVAILABLE&nbsp;ON&nbsp;E-MAIL&nbsp;OR&nbsp;WEBSITE&nbsp;WITH&nbsp;RESPECT&nbsp;TO&nbsp;ANY&nbsp;THIRD&nbsp;</p>
<p>PARTY&nbsp;WEBSITE&nbsp;OR&nbsp;THE&nbsp;PRODUCTS&nbsp;AND&nbsp;SERVICES&nbsp;ARE&nbsp;FOR&nbsp;INFORMATION&nbsp;PURPOSE&nbsp;</p>
<p>ONLY.&nbsp;</p>
<p>12.6.&nbsp;NOTWITHSTANDING&nbsp;ANYTHING&nbsp;TO&nbsp;CONTRARY,&nbsp;FITNESSPAPA&rsquo;S&nbsp;ENTIRE&nbsp;LIABILITY&nbsp;</p>
<p>TO&nbsp;YOU&nbsp;SHALL&nbsp;BE&nbsp;THE&nbsp;REFUND&nbsp;OF&nbsp;THE&nbsp;MONEY&nbsp;CHARGED&nbsp;TO&nbsp;YOU&nbsp;FOR&nbsp;ANY&nbsp;PRODUCT&nbsp;OR&nbsp;</p>
<p>SERVICE,&nbsp;IN&nbsp;RELATION&nbsp;TO&nbsp;WHICH&nbsp;UNLIKELY&nbsp;LIABILITY&nbsp;ARISES.&nbsp;</p>
<p>12.7.&nbsp;IN&nbsp;NO&nbsp;EVENT&nbsp;SHALL&nbsp;FITNESSPAPA,&nbsp;ITS&nbsp;OFFICERS,&nbsp;DIRECTORS,&nbsp;EMPLOYEES,&nbsp;</p>
<p>PARTNERS&nbsp;OR&nbsp;SUPPLIERS&nbsp;BE&nbsp;LIABLE&nbsp;TO&nbsp;YOU&nbsp;FOR&nbsp;ANY&nbsp;(1)&nbsp;SPECIAL,&nbsp;INCIDENTAL,&nbsp;</p>
<p>INDIRECT,&nbsp;CONSEQUENTIAL&nbsp;OR&nbsp;PUNITIVE&nbsp;DAMAGES&nbsp;WHATSOEVER,&nbsp;INCLUDING&nbsp;THOSE&nbsp;</p>
<p>RESULTING&nbsp;FROM&nbsp;LOSS&nbsp;OF&nbsp;USE,&nbsp;DATA&nbsp;OR&nbsp;PROFITS,&nbsp;WHETHER&nbsp;OR&nbsp;NOT&nbsp;FORESEEABLE&nbsp;</p>
<p>AND&nbsp;WHETHER&nbsp;OR&nbsp;NOT&nbsp;FITNESSPAPAHAS&nbsp;BEEN&nbsp;ADVISED&nbsp;OF&nbsp;THE&nbsp;POSSIBILITY&nbsp;OF&nbsp;THE&nbsp;</p>
<p>SAME,&nbsp;(2)&nbsp;BASED&nbsp;ON&nbsp;ANY&nbsp;THEORY&nbsp;OF&nbsp;LIABILITY,&nbsp;INCLUDING&nbsp;BREACH&nbsp;OF&nbsp;CONTRACT&nbsp;OR&nbsp;</p>
<p>WARRANTY,&nbsp;NEGLIGENCE&nbsp;OR&nbsp;OTHER&nbsp;TORTIOUS&nbsp;ACTION,&nbsp;OR&nbsp;(3)&nbsp;ANY&nbsp;OTHER&nbsp;CLAIM&nbsp;</p>
<p>ARISING&nbsp;OUT&nbsp;OF&nbsp;OR&nbsp;IN&nbsp;CONNECTION&nbsp;WITH&nbsp;YOUR&nbsp;USE&nbsp;OF&nbsp;OR&nbsp;ACCESS&nbsp;TO&nbsp;THE&nbsp;WEBSITE,&nbsp;</p>
<p>SERVICES&nbsp;OR&nbsp;MATERIALS.&nbsp;</p>
<p>12.8.&nbsp;THE&nbsp;LIMITATIONS&nbsp;AND&nbsp;EXCLUSIONS&nbsp;IN&nbsp;THIS&nbsp;SECTION&nbsp;APPLY&nbsp;TO&nbsp;THE&nbsp;MAXIMUM&nbsp;</p>
<p>EXTENT&nbsp;PERMITTED&nbsp;BY&nbsp;APPLICABLE&nbsp;LAW.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">13.&nbsp;VIOLATION&nbsp;OF&nbsp;THE&nbsp;TERMS&nbsp;OF&nbsp;USE&nbsp;</span></p>
<p>&nbsp;</p>
<p>13.1.&nbsp;FitnessPapa&nbsp;may,&nbsp;in&nbsp;its&nbsp;sole&nbsp;discretion&nbsp;and&nbsp;without&nbsp;prior&nbsp;notice,&nbsp;terminate&nbsp;Your&nbsp;access&nbsp;to&nbsp;the&nbsp;Website&nbsp;</p>
<p>if&nbsp;FitnessPapa&nbsp;determines&nbsp;that&nbsp;You&nbsp;have&nbsp;violated&nbsp;the&nbsp;Terms&nbsp;or&nbsp;Additional&nbsp;Terms&nbsp;or&nbsp;any&nbsp;other&nbsp;duty&nbsp;owed&nbsp;to&nbsp;</p>
<p>FitnessPapa.&nbsp;Any&nbsp;violation&nbsp;by&nbsp;You&nbsp;of&nbsp;the&nbsp;Terms&nbsp;will&nbsp;constitute&nbsp;an&nbsp;unlawful&nbsp;and&nbsp;unfair&nbsp;business&nbsp;practice,&nbsp;</p>
<p>and&nbsp;will&nbsp;cause&nbsp;irreparable&nbsp;harm&nbsp;to&nbsp;FitnessPapa,&nbsp;for&nbsp;which&nbsp;monetary&nbsp;damages&nbsp;is&nbsp;likely&nbsp;to&nbsp;be&nbsp;inadequate,&nbsp;</p>
<p>and&nbsp;You&nbsp;consent&nbsp;to&nbsp;FitnessPapa&nbsp;obtaining&nbsp;any&nbsp;injunctive&nbsp;or&nbsp;equitable&nbsp;relief&nbsp;that&nbsp;FitnessPapa&nbsp;deems&nbsp;</p>
<p>necessary&nbsp;or&nbsp;appropriate.&nbsp;These&nbsp;remedies&nbsp;are&nbsp;in&nbsp;addition&nbsp;to&nbsp;any&nbsp;other&nbsp;remedies&nbsp;FitnessPapa&nbsp;may&nbsp;have&nbsp;at&nbsp;</p>
<p>law&nbsp;or&nbsp;in&nbsp;equity.&nbsp;</p>
<p>13.2.&nbsp;You&nbsp;agree&nbsp;to&nbsp;indemnify,&nbsp;defend&nbsp;and&nbsp;hold&nbsp;harmless&nbsp;FitnessPapa,&nbsp;its&nbsp;affiliate&nbsp;vendors,&nbsp;agents,&nbsp;</p>
<p>shareholders,&nbsp;directors&nbsp;and&nbsp;employees&nbsp;from&nbsp;and&nbsp;against&nbsp;any&nbsp;and&nbsp;all&nbsp;losses,&nbsp;liabilities,&nbsp;claims,&nbsp;damages,&nbsp;</p>
<p>demands,&nbsp;costs&nbsp;and&nbsp;expenses&nbsp;(including&nbsp;legal&nbsp;fees&nbsp;and&nbsp;disbursements&nbsp;in&nbsp;connection&nbsp;therewith&nbsp;and&nbsp;interest&nbsp;</p>
<p>chargeable&nbsp;thereon)&nbsp;asserted&nbsp;against&nbsp;or&nbsp;incurred&nbsp;by&nbsp;FitnessPapa&nbsp;that&nbsp;arise&nbsp;out&nbsp;of,&nbsp;result&nbsp;from,&nbsp;or&nbsp;may&nbsp;be&nbsp;</p>
<p>payable&nbsp;by&nbsp;virtue&nbsp;of,&nbsp;any&nbsp;breach&nbsp;or&nbsp;non-performance&nbsp;of&nbsp;any&nbsp;representation,&nbsp;warranty,&nbsp;covenant&nbsp;or&nbsp;</p>
<p>agreement&nbsp;made&nbsp;or&nbsp;obligation&nbsp;to&nbsp;be&nbsp;performed&nbsp;by&nbsp;You.&nbsp;Further,&nbsp;You&nbsp;agree&nbsp;to&nbsp;hold&nbsp;FitnessPapa&nbsp;harmless&nbsp;</p>
<p>against&nbsp;any&nbsp;claims&nbsp;made&nbsp;by&nbsp;any&nbsp;third&nbsp;party&nbsp;due&nbsp;to,&nbsp;or&nbsp;arising&nbsp;out&nbsp;of,&nbsp;or&nbsp;in&nbsp;connection&nbsp;with,&nbsp;Your&nbsp;use&nbsp;of&nbsp;the&nbsp;</p>
<p>Website,&nbsp;any&nbsp;claim&nbsp;that&nbsp;Your&nbsp;material&nbsp;caused&nbsp;damage&nbsp;to&nbsp;a&nbsp;third&nbsp;party,&nbsp;Your&nbsp;violation&nbsp;of&nbsp;the&nbsp;Terms,&nbsp;or&nbsp;</p>
<p>Your&nbsp;violation&nbsp;of&nbsp;the&nbsp;rights&nbsp;of&nbsp;any&nbsp;another&nbsp;person.&nbsp;FitnessPapa&nbsp;will&nbsp;also&nbsp;be&nbsp;entitled&nbsp;to&nbsp;recover&nbsp;from&nbsp;You,&nbsp;</p>
<p>and&nbsp;You&nbsp;agree&nbsp;to&nbsp;pay,&nbsp;all&nbsp;reasonable&nbsp;attorneys&#39;&nbsp;fees&nbsp;and&nbsp;costs&nbsp;of&nbsp;such&nbsp;action,&nbsp;in&nbsp;addition&nbsp;to&nbsp;any&nbsp;other&nbsp;relief&nbsp;</p>
<p>granted&nbsp;to&nbsp;FitnessPapa.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">14.&nbsp;TERMINATION&nbsp;</span></p>
<p>&nbsp;</p>
<p>14.1.&nbsp;The&nbsp;Terms&nbsp;will&nbsp;continue&nbsp;to&nbsp;apply&nbsp;until&nbsp;terminated&nbsp;by&nbsp;either&nbsp;You&nbsp;or&nbsp;FitnessPapa&nbsp;as&nbsp;set&nbsp;forth&nbsp;below.&nbsp;If&nbsp;</p>
<p>You&nbsp;want&nbsp;to&nbsp;terminate&nbsp;Your&nbsp;agreement&nbsp;with&nbsp;FitnessPapa,&nbsp;You&nbsp;may&nbsp;do&nbsp;so&nbsp;by&nbsp;(i)&nbsp;not&nbsp;accessing&nbsp;the&nbsp;Website;&nbsp;</p>
<p>or&nbsp;(ii)&nbsp;closing&nbsp;Your&nbsp;accounts&nbsp;(if&nbsp;any).&nbsp;</p>
<p>14.2.&nbsp;FitnessPapa&nbsp;may&nbsp;at&nbsp;its&nbsp;discretion&nbsp;and&nbsp;at&nbsp;any&nbsp;time&nbsp;with&nbsp;or&nbsp;without&nbsp;notice&nbsp;terminate&nbsp;or&nbsp;suspend&nbsp;the&nbsp;</p>
<p>Terms&nbsp;without&nbsp;cause&nbsp;or&nbsp;with&nbsp;cause&nbsp;if:&nbsp;</p>
<p>14.2.1.&nbsp;You&nbsp;breach&nbsp;any&nbsp;of&nbsp;the&nbsp;provisions&nbsp;of&nbsp;the&nbsp;<em>Terms</em>,&nbsp;the&nbsp;<em>Privacy&nbsp;Policy</em>&nbsp;or&nbsp;any&nbsp;other&nbsp;terms,&nbsp;</p>
<p>conditions,&nbsp;or&nbsp;policies&nbsp;that&nbsp;may&nbsp;be&nbsp;applicable&nbsp;to&nbsp;You;&nbsp;</p>
<p>14.2.2.&nbsp;FitnessPapa&nbsp;is&nbsp;required&nbsp;to&nbsp;do&nbsp;so&nbsp;by&nbsp;law&nbsp;(for&nbsp;example,&nbsp;where&nbsp;the&nbsp;provision&nbsp;of&nbsp;the&nbsp;Services&nbsp;</p>
<p>to&nbsp;You&nbsp;is,&nbsp;or&nbsp;becomes,&nbsp;unlawful&nbsp;or&nbsp;pursuant&nbsp;to&nbsp;a&nbsp;request&nbsp;by&nbsp;a&nbsp;regulatory&nbsp;authority);&nbsp;</p>
<p>14.2.3.&nbsp;The&nbsp;provision&nbsp;of&nbsp;the&nbsp;Services&nbsp;to&nbsp;You&nbsp;by&nbsp;FitnessPapa&nbsp;is,&nbsp;in&nbsp;FitnessPapa&rsquo;s&nbsp;opinion,&nbsp;no&nbsp;</p>
<p>longer&nbsp;commercially&nbsp;viable;&nbsp;</p>
<p>14.2.4.&nbsp;FitnessPapa&nbsp;has&nbsp;elected&nbsp;to&nbsp;discontinue,&nbsp;with&nbsp;or&nbsp;without&nbsp;reason,&nbsp;access&nbsp;to&nbsp;the&nbsp;Website,&nbsp;the&nbsp;</p>
<p>Services&nbsp;(or&nbsp;any&nbsp;part&nbsp;thereof)&nbsp;either&nbsp;in&nbsp;general&nbsp;or&nbsp;specifically&nbsp;to&nbsp;You;​</p>
<p>or&nbsp;</p>
<p>14.2.5.&nbsp;For&nbsp;technical&nbsp;or&nbsp;any&nbsp;other&nbsp;reason,&nbsp;Termination&nbsp;or&nbsp;suspension&nbsp;may&nbsp;include:&nbsp;(i)&nbsp;removal&nbsp;of&nbsp;</p>
<p>access&nbsp;to&nbsp;all&nbsp;or&nbsp;portion&nbsp;of&nbsp;the&nbsp;offerings&nbsp;on&nbsp;the&nbsp;Website&nbsp;or&nbsp;with&nbsp;respect&nbsp;to&nbsp;the&nbsp;Services&nbsp;or&nbsp;any&nbsp;</p>
<p>portion&nbsp;thereof;&nbsp;(ii)&nbsp;deletion&nbsp;of&nbsp;Your&nbsp;materials&nbsp;and&nbsp;/&nbsp;or&nbsp;Account&nbsp;Information,&nbsp;including&nbsp;Your&nbsp;</p>
<p>personal&nbsp;information,&nbsp;log-in&nbsp;ID&nbsp;and&nbsp;password,&nbsp;and&nbsp;all&nbsp;related&nbsp;information,&nbsp;files&nbsp;and&nbsp;materials&nbsp;</p>
<p>associated&nbsp;with&nbsp;You&nbsp;or&nbsp;inside&nbsp;Your&nbsp;Account&nbsp;(or&nbsp;any&nbsp;part&nbsp;thereof);&nbsp;and&nbsp;(iii)&nbsp;barring&nbsp;of&nbsp;further&nbsp;use&nbsp;</p>
<p>of&nbsp;the&nbsp;Website&nbsp;or&nbsp;Services.&nbsp;FitnessPapa&nbsp;may&nbsp;also&nbsp;delete&nbsp;any&nbsp;content&nbsp;or&nbsp;other&nbsp;materials&nbsp;relating&nbsp;to&nbsp;</p>
<p>Your&nbsp;use&nbsp;of&nbsp;the&nbsp;Website.&nbsp;</p>
<p>14.3.&nbsp;FitnessPapa&nbsp;shall&nbsp;not&nbsp;be&nbsp;liable&nbsp;to&nbsp;You&nbsp;or&nbsp;any&nbsp;third&nbsp;party&nbsp;for&nbsp;any&nbsp;such&nbsp;termination.&nbsp;</p>
<p>14.4.&nbsp;Termination&nbsp;or&nbsp;suspension&nbsp;shall&nbsp;not&nbsp;affect&nbsp;your&nbsp;liability&nbsp;or&nbsp;obligation&nbsp;arising&nbsp;prior&nbsp;to&nbsp;such&nbsp;</p>
<p>termination&nbsp;or&nbsp;suspension.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">15.&nbsp;GOVERNING&nbsp;LAW&nbsp;</span></p>
<p>&nbsp;</p>
<p>15.1.&nbsp;The&nbsp;Terms&nbsp;and&nbsp;all&nbsp;transactions&nbsp;entered&nbsp;and&nbsp;the&nbsp;relationship&nbsp;between&nbsp;You&nbsp;and&nbsp;FitnessPapa&nbsp;and&nbsp;any&nbsp;</p>
<p>mutual&nbsp;claims&nbsp;shall&nbsp;be&nbsp;governed&nbsp;in&nbsp;accordance&nbsp;with&nbsp;the&nbsp;laws&nbsp;of&nbsp;India&nbsp;without&nbsp;reference&nbsp;to&nbsp;any&nbsp;conflict&nbsp;of&nbsp;</p>
<p>laws&nbsp;principles.&nbsp;</p>
<p>15.2.&nbsp;All&nbsp;claims,&nbsp;differences&nbsp;and&nbsp;disputes&nbsp;arising&nbsp;under&nbsp;or&nbsp;in&nbsp;connection&nbsp;with&nbsp;or&nbsp;in&nbsp;relation&nbsp;hereto&nbsp;the&nbsp;</p>
<p>Website,&nbsp;the&nbsp;Terms&nbsp;or&nbsp;any&nbsp;transactions&nbsp;entered&nbsp;into&nbsp;on&nbsp;or&nbsp;through&nbsp;the&nbsp;Website&nbsp;shall&nbsp;be&nbsp;subject&nbsp;to&nbsp;the&nbsp;</p>
<p>exclusive&nbsp;jurisdiction&nbsp;of&nbsp;the&nbsp;courts&nbsp;at&nbsp;Bangalore&nbsp;Urban&nbsp;District,&nbsp;India&nbsp;and&nbsp;You&nbsp;hereby&nbsp;accede&nbsp;to&nbsp;and&nbsp;accept&nbsp;</p>
<p>the&nbsp;jurisdiction&nbsp;of&nbsp;such&nbsp;courts.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">16.&nbsp;REPORT&nbsp;ABUSE&nbsp;</span></p>
<p>&nbsp;</p>
<p>In&nbsp;the&nbsp;event&nbsp;You&nbsp;come&nbsp;across&nbsp;any&nbsp;abuse&nbsp;or&nbsp;violation&nbsp;of&nbsp;the&nbsp;Terms&nbsp;or&nbsp;if&nbsp;You&nbsp;become&nbsp;aware&nbsp;of&nbsp;any&nbsp;</p>
<p>objectionable&nbsp;content&nbsp;on&nbsp;the&nbsp;Website,&nbsp;please&nbsp;report&nbsp;to&nbsp;legal@fitnesspapa.com&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">17.&nbsp;PRIVACY&nbsp;POLICY&nbsp;</span></p>
<p>&nbsp;</p>
<p>You&nbsp;confirm&nbsp;that&nbsp;you&nbsp;have&nbsp;read&nbsp;and&nbsp;fully&nbsp;understand&nbsp;the&nbsp;Privacy&nbsp;Policy&nbsp;of&nbsp;FitnessPapa&nbsp;in&nbsp;respect&nbsp;of&nbsp;the&nbsp;</p>
<p>Website.&nbsp;You&nbsp;further&nbsp;consent&nbsp;that&nbsp;the&nbsp;terms&nbsp;and&nbsp;contents&nbsp;of&nbsp;such&nbsp;Privacy&nbsp;Policy&nbsp;are&nbsp;acceptable&nbsp;to&nbsp;You.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">18.&nbsp;NEWSLETTERS&nbsp;AND&nbsp;COMMUNICATIONS&nbsp;</span></p>
<p>&nbsp;</p>
<p>You&nbsp;hereby&nbsp;expressly&nbsp;agree&nbsp;to&nbsp;receive&nbsp;communications&nbsp;and&nbsp;newsletters&nbsp;from&nbsp;FitnessPapa&nbsp;by&nbsp;SMS&nbsp;and&nbsp;</p>
<p>e-mails.&nbsp;You&nbsp;can&nbsp;unsubscribe&nbsp;/&nbsp;opt-out&nbsp;from&nbsp;receiving&nbsp;communications&nbsp;and&nbsp;newsletters&nbsp;from&nbsp;FitnessPapa&nbsp;at&nbsp;</p>
<p>anytime&nbsp;by&nbsp;following&nbsp;the&nbsp;procedure&nbsp;set&nbsp;forth&nbsp;in&nbsp;the&nbsp;Website.&nbsp;</p>
<p>&nbsp;</p>
<p><span style="color:#ffa500;">19.&nbsp;GENERAL&nbsp;PROVISIONS&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>19.1.&nbsp;<strong>Notice</strong>:&nbsp;All&nbsp;notices&nbsp;from&nbsp;FitnessPapa&nbsp;will&nbsp;be&nbsp;served&nbsp;by&nbsp;email&nbsp;to&nbsp;the&nbsp;account&nbsp;designated&nbsp;by&nbsp;you&nbsp;or&nbsp;by&nbsp;</p>
<p>general&nbsp;notification&nbsp;on&nbsp;the&nbsp;Website.&nbsp;Any&nbsp;notice&nbsp;to&nbsp;be&nbsp;provided&nbsp;to&nbsp;FitnessPapa&nbsp;pursuant&nbsp;to&nbsp;the&nbsp;Terms&nbsp;should&nbsp;</p>
<p>be&nbsp;sent&nbsp;to&nbsp;legal@FitnessPapa.com.&nbsp;</p>
<p>19.2.&nbsp;<strong>Assignment</strong>:&nbsp;You&nbsp;cannot&nbsp;assign&nbsp;or&nbsp;otherwise&nbsp;transfer&nbsp;the&nbsp;Terms,&nbsp;or&nbsp;any&nbsp;rights&nbsp;hereunder&nbsp;to&nbsp;any&nbsp;third&nbsp;</p>
<p>party.&nbsp;Fitness&nbsp;Papa&rsquo;s&nbsp;rights&nbsp;under&nbsp;the&nbsp;Terms&nbsp;of&nbsp;Use&nbsp;are&nbsp;freely&nbsp;transferable&nbsp;by&nbsp;FitnessPapa&nbsp;to&nbsp;any&nbsp;third&nbsp;</p>
<p>parties&nbsp;without&nbsp;the&nbsp;requirement&nbsp;of&nbsp;seeking&nbsp;Your&nbsp;consent.&nbsp;</p>
<p>19.3.&nbsp;<strong>Severability</strong>:&nbsp;If&nbsp;a&nbsp;court&nbsp;of&nbsp;competent&nbsp;jurisdiction&nbsp;finds&nbsp;any&nbsp;provision&nbsp;of&nbsp;the&nbsp;Terms,&nbsp;or&nbsp;portion&nbsp;</p>
<p>thereof,&nbsp;to&nbsp;be&nbsp;unenforceable,&nbsp;the&nbsp;same&nbsp;shall&nbsp;not&nbsp;affect&nbsp;the&nbsp;provisions&nbsp;of&nbsp;any&nbsp;other&nbsp;portion&nbsp;of&nbsp;the&nbsp;Terms.&nbsp;In&nbsp;</p>
<p>any&nbsp;event,&nbsp;such&nbsp;provision&nbsp;shall&nbsp;be&nbsp;enforced&nbsp;to&nbsp;the&nbsp;maximum&nbsp;extent&nbsp;permissible&nbsp;so&nbsp;as&nbsp;to&nbsp;give&nbsp;effect&nbsp;to&nbsp;the&nbsp;</p>
<p>intent&nbsp;of&nbsp;the&nbsp;parties&nbsp;as&nbsp;reflected&nbsp;by&nbsp;that&nbsp;provision.&nbsp;</p>
<p>19.4.&nbsp;<strong>Waiver</strong>:&nbsp;Any&nbsp;failure&nbsp;by&nbsp;FitnessPapa&nbsp;to&nbsp;enforce&nbsp;or&nbsp;exercise&nbsp;any&nbsp;provision&nbsp;of&nbsp;the&nbsp;Terms,&nbsp;or&nbsp;any&nbsp;related&nbsp;</p>
<p>right,&nbsp;shall&nbsp;not&nbsp;constitute&nbsp;a&nbsp;waiver&nbsp;of&nbsp;that&nbsp;provision&nbsp;or&nbsp;right.&nbsp;</p>
<p>19.5.&nbsp;<strong>Feedback&nbsp;and&nbsp;Information</strong>.&nbsp;Any&nbsp;feedback&nbsp;You&nbsp;provide&nbsp;to&nbsp;this&nbsp;Website&nbsp;shall&nbsp;be&nbsp;deemed&nbsp;to&nbsp;be&nbsp;</p>
<p>non-confidential.&nbsp;FitnessPapa&nbsp;shall&nbsp;be&nbsp;free&nbsp;to&nbsp;use&nbsp;such&nbsp;information&nbsp;on&nbsp;an&nbsp;unrestricted&nbsp;basis.&nbsp;Further,&nbsp;by&nbsp;</p>
<p>submitting&nbsp;the&nbsp;feedback,&nbsp;You&nbsp;represent&nbsp;and&nbsp;warrant&nbsp;that&nbsp;(i)&nbsp;Your&nbsp;feedback&nbsp;does&nbsp;not&nbsp;contain&nbsp;confidential&nbsp;or&nbsp;</p>
<p>proprietary&nbsp;information&nbsp;of&nbsp;You&nbsp;or&nbsp;of&nbsp;third&nbsp;parties;&nbsp;(ii)&nbsp;FitnessPapa&nbsp;is&nbsp;not&nbsp;under&nbsp;any&nbsp;obligation&nbsp;of&nbsp;</p>
<p>confidentiality,&nbsp;express&nbsp;or&nbsp;implied,&nbsp;with&nbsp;respect&nbsp;to&nbsp;the&nbsp;feedback;&nbsp;and&nbsp;(iii)&nbsp;You&nbsp;are&nbsp;not&nbsp;entitled&nbsp;to&nbsp;any&nbsp;</p>
<p>compensation&nbsp;or&nbsp;reimbursement&nbsp;of&nbsp;any&nbsp;kind&nbsp;from&nbsp;FitnessPapa&nbsp;for&nbsp;the&nbsp;feedback&nbsp;under&nbsp;any&nbsp;circumstances.&nbsp;</p>

</div>

<div style="margin-top:100px;">
<%= render :partial => 'layouts/footer' %>
</div>