<%= render :partial => 'partners/multicenters/nav' %>


<div class="row" style="min-height:400px">
	<div class="small-12 columns">
		<div style="">
			<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
				<div class="small-4 columns">Brand Name</div>
				<div class="small-8 columns">Gold</div>
			</div>
		</div>
		<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
			<div class="small-4 columns">Name</div>
			<div class="small-8 columns">Suresh@mail.co</div>
		</div>
		<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
			<div class="small-4 columns">Email</div>
			<div class="small-8 columns">Sureshmail.com</div>
		</div>
		<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
			<div class="small-4 columns">Mobile Number</div>
			<div class="small-8 columns">+91 965256692</div>
		</div>
		<div class="row" style="margin:10px;padding:10px;border-bottom:1px solid #e3e3e3">
			<div class="small-4 columns">LandLine No</div>
			<div class="small-8 columns">022 - 40212277</div>
		</div>
		<div class="row" style="margin:10px;padding::;">
			<div class="small-4 columns"></div>
			<div class="small-8 columns"><a href="" class="buutton tiny">Save Changes</a></div>

		</div>

	</div>
</div>