<div class="row" style="background-color:#f1f5fc">
    <div class="container" style="min-height:450px;padding-top:45px;margin-top:30px;background:white">
        <div class="row">
        	<div class="col-sm-8 col-sm-offset-2">
        		<div class="row">
        			<div class="col-xs-12">
        				<ul class="list-inline steps">
        					<li class="active">STEP 1 <span class='info'>Basic Information</span></li> >
        					<li class="active">STEP 2 <span class='info'>Confirmation</span></li> >
        					<li>STEP 3 <span class='info'>Invoice Generation</span></li>
        				</ul>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-sm-8 col-sm-offset-2">
                        <%= render :partial => 'shared/payu_form' %>
        			</div>
        		</div>
        	</div>
        </div>
        
    </div>
</div>


<%= content_for :linescript do  %>
    <script>
         document.forms['myform'].submit();
    </script>
<% end %>