# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0bb95d8c092275e1c709a26a4d244cdd8eab6dfeec5e9b5251b901f4cc31150725b3335ead0e25ab29eb25310a996acb5c4baed7eca29306e7d2b76443af269f
  lockup_codeword: 'sid'

test:
  secret_key_base: f74f3c42f7a8b09f84e708d625f6a4463f1b436d4cbd342f2414a1919f75a182f261f6e3bcaf7bece84024d470701ec18aae8394ada25c6621959d76cd309cb3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 90ffacea07500f3e63ed1b0f96f99c062689185e1d2267f56d0290a39862181107f5447086da7c028ef700c972b851b44e2b622362f09e1fce52543cc2058b86
  lockup_codeword: 'ganesh'



