<!-- # http://themeforest.net/item/corallina-booking-wordpress-theme/full_screen_preview/10716011 -->


<div class="row" style="background-color:#f1f5fc">
    <div id='services-container' class="container" style="min-height:450px;padding-top:45px">
		<div>
			<select class="demo-default selectized" placeholder="City" tabindex="-1" style="display: none;">
				<option value="3" selected="selected">Bangalore</option>
				<option value="3">dsjfkl</option>
				<option value="3">11133</option>
				<option value="3">*^*&*&^</option>
			</select>
			<select class="demo-default selectized" placeholder="City" tabindex="-1" style="display: none;">
				<option value="3" selected="selected">Gym</option>
				<option value="3">dsjfkl</option>
				<option value="3">11133</option>
				<option value="3">*^*&*&^</option>
			</select>
		</div>        
    </div>
</div>