<%= render :partial => 'admins/partners/nav' %>

<%= form_tag admins_populars_path do %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Select centers from here</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" placeholder="Name"></th>
                        <th><input type="text" class="form-control" placeholder="Email Id"></th>
                        <th><input type="text" class="form-control" placeholder="Customer Id"></th>
                    </tr>
                </thead>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Brand Name</th>
                        <th>Center Name</th>
                        <th>City</th>
                        <th>Center approval Status</th>
                        <th>FP Verified</th>    
                        <th>Commission</th>
                        <th>Total Business</th>
                        <th>Total Service sold</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render @centers %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-7 text-right">
            <a href="" class="two-popup-trigger btn btn-primary">Add selected centers</a>
        </div>
    </div>
</div>

<div class="two-popup" role="alert">
    <div class="cd-popup-container">
        <div class="container">
            <div class="row">
                <div class="small-12 column" style="margin-top:35px">
                    <fieldset>
                    <legend>Add to category</legend>
                        <div class="col-xs-12" style="margin-bottom:10px">
                            <%= select_tag "people", options_from_collection_for_select(@categories, "id", "name"), :class => 'form-control' %>
                        </div>
                        <div class="col-xs-12">
                            <input type="submit" name="send_email" class="btn btn-primary small form-control">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="margin-35"></div>
        </div>
        <!-- <ul class="cd-buttons">
            <li><a href="#0">submit</a></li>
            <li><a href="#0">No</a></li>
        </ul> -->
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div>

<% end %>