<div style="min-height:380px">
	<table class="table">
	  <thead>
	    <tr>
	      <th style="width:32%">Service Name</th>
	      <th style="width:14%">Order Id</th>
	      <th style="width:10%">Start Date</th>
	      <th style="width:29%">Details</th>
	      <th>Status</th>
	    </tr>
	  </thead>
	  <tbody>
	  <%@bookings.each do |booking| %>
	    <tr>
	      <td><%= booking.service.name %></td>
	      <td><a href="#">OD11304904343</a></td>
	      <td><%= booking.service.start_date %></td>
	      <td><%= booking.service.service_desc %></td>
	      <td><%= booking.service.status %></td>
	    </tr>
	   <%end %>
	  </tbody>
	</table>
</div>