<div class="filter-result">
  
  <div class="pagination-filter">
  <div class="pagination-filter-main" style="width:100%;">
    <div class="page-detail">
      <p>Page 1 of 50</p>
    </div>
    <div class="prev">
      <a href="#">Prev</a>
    </div>
    <div class="num">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
    <div class="next">
      <a href="#">Next</a>
    </div>
  </div>
  </div>

</div>