<div class="week1">
  <div id="sd-calendar" class="owl-carousel owl-theme">
     <% SimpleCalendar::Calendar.new(self, number_of_days: 14).date_range.each do |date| %>
      <div class="item">
	    	<% if !params['q'].blank?  %>
	  	    <% case date.strftime("%Y-%m-%d")
		        when params['q']['recursivedates_ondate_eq'] %><%= link_to date.strftime('%b %d'), classes_search_path(:q => {:recursivedates_ondate_eq => date, :centers_place_name_cont_any => params[:q][:centers_place_name_cont_any], :centers_center_type_in => params[:q][:centers_center_type_in]}), remote: true, class: 'label label-success' %>
		      <% else %><%= link_to date.strftime('%b %d'), classes_search_path(:q => {:recursivedates_ondate_eq => date, :centers_place_name_cont_any => params[:q][:centers_place_name_cont_any], :centers_center_type_in => params[:q][:centers_center_type_in]}), remote: true %>
		     <% end %>
	       <% end %>
       </div>
    	<%end%>  
  </div>
</div>
