<div class="filter-result">
							<div class="list-view">
								<ul class="grid">
									
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic2.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic3.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic4.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic5.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic6.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic7.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic8.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="/assets/prof-pic2.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="/assets/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										
									</div>
									
									</li>
									
								</ul>
							</div>
						</div>