<div class="filter-result">
							<div class="list-view">
								<ul class="list">
									<li class="comp-box barber-saloon">
									 <div class="comp-pic">
										<a href="#"><img src="./images/prof-pic2.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="./images/star.jpg" alt=""><a href="#">312 Reviews</a>
										</div>
										
										<div class="comp-detail">
										  <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor ornare odio. </p>
										</div>
										
									</div>
									
									<div class="comp-price">
										
										<ul>
											<li><p>Hair Cut (Man)</p></li>
											<li><p><span>`</span>100</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>15 mins</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
										<ul>
											<li><p>Hair Shape-up</p></li>
											<li><p><span>`</span>50</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>5 mins</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
									</div>
									
									<div class="comp-see">
										<a href="#">See Full Services</a>
									</div>
									
									</li>
									
									<li class="comp-box fitness-center">
									 <div class="comp-pic">
										<a href="#"><img src="./images/prof-pic7.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="./images/star.jpg" alt=""><a href="#">98 Reviews</a>
										</div>
										
										<div class="comp-detail">
										  <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
										</div>
										
									</div>
									
									<div class="comp-price">
										
										<ul>
											<li><p>6 Months Membership</p></li>
											<li><p><span>`</span>1050</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>6 Months</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
										<ul>
											<li><p>Fitness Training</p></li>
											<li><p><span>`</span>5000</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>2 Weeks</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
									</div>
									
									<div class="comp-see">
										<a href="#">See Full Services</a>
									</div>
									
									</li>
									
									<li class="comp-box fitness-center">
									 <div class="comp-pic">
										<a href="#"><img src="./images/prof-pic6.jpg" alt=""></a>
									</div>
									<div class="comp-info">
										<div class="comp-title">
										  <a href="#"><h4>Paul's Barber Saloon</h4></a>
										</div>
									
										<div class="comp-rate">
										  <img src="./images/star.jpg" alt=""><a href="#">98 Reviews</a>
										</div>
										
										<div class="comp-detail">
										  <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
										</div>
										
									</div>
									
									<div class="comp-price">
										
										<ul>
											<li><p>6 Months Membership</p></li>
											<li><p><span>`</span>1050</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>6 Months</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
										<ul>
											<li><p>Fitness Training</p></li>
											<li><p><span>`</span>5000</p></li>
											<li><img src="./images/time-icon.jpg" alt=""><p>2 Weeks</p></li>
											<li class="book-slot"><a href="#">Book Slot</a></li>
										</ul>
										
									</div>
									
									<div class="comp-see">
										<a href="#">See Full Services</a>
									</div>
									
									</li>
									
								</ul>
								
							</div>
							<div class="pagination-filter filter-bottom">
							<div class="pagination-filter-main f-bottom-main">
								
								<div class="page-detail">
									<p>Page 1 of 50</p>
								</div>
								<div class="prev">
									<a href="#">Prev</a>
								</div>
								<div class="num">
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
								</div>
								<div class="next">
									<a href="#">Next</a>
								</div>
									
							</div>
						</div>
						
						</div>