<div class="filter-result">
	<div class="list-view">
		<ul class="map">
			
			<li class="comp-box">
			<div class="arrow">&lt;</div>
			 <div class="comp-pic">
				<img src="./images/prof-pic2.jpg" alt="">
			</div>
			<div class="comp-info">
				<div class="comp-title">
				  <h4>Paul's Barber Saloon</h4>
				</div>
			
				<div class="comp-rate">
				  <img src="./images/star.jpg" alt=""><a href="#">312 Reviews</a>
				</div>
				
			</div>
			
			</li>
			
			
		</ul>
	</div>
	
</div>