$("#fp-link").addClass('active');
$('#classes-section').hide();
$('#centers-section').fadeIn(1000);
<%unless @centers.blank? %>
	$('#centers-section').html("<%= j render @centers %>")
<%else%>
	$('#centers-section').html("<div class='row list-item' style='min-height:250px;padding:40px'><div class='container'><p class='text-info'>No centers found with your search criteria!</p></div></div>")
<%end%>
$('#classes-search-container').hide();
$('#center-search-container').fadeIn(1000);
