
<div class="row" style="background-color:#f1f5fc">
    <div id='search-container' class="container" style="min-height:450px">
    
    </div>
</div>

<div class="row">
  <div id="testing">
    
  </div>
</div>

<%= render 'homepage/passport' %>
<!-- Reserve modal is parent for model opens after reserve click -->
<div id="reserve-modal"></div>

<script>
  function togglefilter(){
    if($("#monthly").is(':checked')){
        if($('#center-search-container').hasClass("hidden-xs")){
          $('#center-search-container').removeClass("hidden-xs" , "slow");
        }else{
          $('#center-search-container').toggle('slow');
        }
    }else{
      if($("#classes-search-container").hasClass("hidden-xs")){
        $("#classes-search-container").removeClass("hidden-xs" , "slow");
      }else{
        $("#classes-search-container").toggle('slow');
      }
    }
  };
</script>
