<div class="cd-user-modal-container"> <!-- this is the container wrapper -->

	<div id="cd-login"> <!-- log in form -->
		<%= render :partial => 'sessions/form' %>
		<!-- <a href="#0" class="cd-close-form">Close</a> -->
	</div> <!-- cd-login -->


	<div id="cd-reset-password"> <!-- reset password form -->
		<%= render :partial => 'password_resets/form' %>
	</div> <!-- cd-reset-password -->
	<a href="#0" class="cd-close-form">Close</a>
</div> <!-- cd-user-modal-container -->
