<header class="filter">
 <div class="top-header">
  <div class="header">
	<div class="logo">
	<a href="<%= root_url %>"><img src="/assets/logo.png" alt=""></a>
	</div>
	<!-- menu -->
	<div class="nav-top">
		<%= render :partial => 'homepage/headerbtn' %>	
	</div><!-- end menu -->
	<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
</header>