<div class="row">
	<div class="col-xs-12" style="padding:0px">
		<nav class='header_nav'>
			<div class="container">
				<div class="row nav_pad">
					<div class="col-xs-4">
						<a href="<%= root_url %>" class="header_nav_logo">
							<img alt="Fitnesspapa Logo" src="https://d1djl7kr085bc1.cloudfront.net/assets/logo.png">
						</a>
					</div>
					<div class="col-xs-8">
						<ul class="nav pull-right navbar_font navbar_style">
							<%= render :partial => "shared/#{which_user.class.name.underscore}_nav" %>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
	<%= render :partial => 'layouts/customer_auth' %>
</div>