<div id="page">
  <% if flash[:alert] %>
    <p class="alert alert-warning" style="margin-bottom:0px;border:0px"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="alert alert-info" style="margin-bottom:0px;border:0px"><%= flash[:notice] %></p>
  <% end %>
</div>