<section class="search">
<div class="search-main container">
	<form action="#" >
		<p>Search</p>
		<select>
			<option value="Yoga">Yoga</option>
			<option value="gym">Gym</option>
			<option value="meditation">Meditation</option>
			<option value="spa">Spa & saloon</option>
			<option value="swimming">Swimming</option>
			<option value="fitness">Fitness</option>
			<option value="consultant">Consultant</option>
			<option value="kids">Kids zone</option>
		</select>
		<input type="text" name="City_Name" placeholder="Center Name, City">
		<button type="button">GO</button>
	</form> 
</div>
</section>