<section class="search">
<div class="search-main container">
<%=search_form_for @c, :url => filters_list_path do |f| %>
	<%= f.collection_select :centerinfo_categories_id_in, Category.order(:name), :id, :name, {:prompt => "Category"} %>
    <input id='cities' type="text" name="q[city_name_cont]" placeholder="Type City Name Here">
	<input type="submit" value="GO">
<%end%>
		
</div>
</section>



<script>
$(function() {
	var availableTags = <%= raw @cities %>;
	$("#cities").autocomplete({
	  source: availableTags
	});
});
</script>
