<!-- content -->
	<div class="container">
		<div class="container-main box-border">
	<p>All major Credit & Debit Cards Accepted. 100% secure payments</p>
	<img src="/assets/payment-gateway-320.jpg" class="for-mobile" alt=""/>
	<img src="/assets/payment-gateway.jpg" class="for-desktop" alt=""/>
	<div class="verified">
	<div class="verified-main">
	
	 <img src="/assets/verifyed.jpg" alt=""/><p>The site is certified by verisign as a secure & trusted site</p>
	</div>
	</div>
	
	</div>
	</div>
	