<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= yield  %>
 <%= render :partial => 'layouts/secure' %>
 <%= render :partial => 'layouts/footer' %>
</body>
</html>