<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<%= metamagic %>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
 <%= yield  %>
 <%= render :partial => 'layouts/analytics' %>
</body>
</html>